<div class="pages">
 <!-- BEGIN change_info -->
 <span>show by</span>
  <select name="limit" onChange="window.location='{THIS_PAGE}?{QUERY_STRING_NO_LIMIT}limit=' + this.value">
   <!-- BEGIN limit --><option value="{LIMIT_VALUE}"{LIMIT}>{LIMIT_TITLE}</option><!-- END limit -->
  </select>
 <!-- END change_info -->
 <span>
 <!-- BEGIN page -->
  <!-- BEGIN page_active_no -->
  <a href="{THIS_PAGE}?{QUERY_STRING}page={PAGE_NUM_LINK}">{PAGE_NUM_TITLE}</a>{SEPARATOR}
  <!-- END page_active_no -->
  <!-- BEGIN page_active -->
  {PAGE_NUM_TITLE}{SEPARATOR}
  <!-- END page_active -->
 <!-- END page -->
 </span>
</div>
<div class="space10"></div>