</div> <!-- end div class="main" -->

<div id="loading"><img src="img/loading.gif" id="load_img"></div>

<div id="bottom">
 <div class="bot_left"></div>
 <div class="bot_right">Система управления сайтом разработана в <a href="http://yauza.com" target="_blank">yauza.com</a></div>
 <div class="space10"></div>
</div>

</body>
</html>