<div class="chain">
 {CHAIN}
 <!-- BEGIN chain -->{CHAIN_TITLE}&nbsp;&gt;&nbsp;
 <!-- END chain -->
 {CHAIN_TITLE_LAST}
</div>
<!----------------------------------------------------------------------------->
<div class="head">
 <div class="left">
  <h3>{HEAD_TITLE}</h3>
  <!-- BEGIN is_last_update -->{LAST_UPDATE_TITLE} {LAST_UPDATE_DATE}<br>{LAST_UPDATE_USER_ID} ({LAST_UPDATE_IP})
  <!-- END is_last_update -->
  <div id="error">{ERROR}</div>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_LINK}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space20"></div>
<form action="{THIS_PAGE}{QUERY_STRING}" method="POST" enctype="multipart/form-data" class="edit_form">
 <input type="hidden" name="a" value="{ACTION}">
 <input type="hidden" name="form[ID]" value="{ID}">
 
 {FIELDS}

 <div class="space20"></div>
 <!----------------------------------------------------------------------------->
 <div class="head">
  <div class="left">
   <a href="{BACK_LINK}" class="link_back"><img src="{BACK_IMAGE}">{BACK_TITLE}</a>
  </div>
  <div class="right">
   <!-- BEGIN btn_save --><input type="button" value="Сохранить" title="Сохранить" class="btnsave"><!-- END btn_save -->
  </div>
 </div>
</form>