<div class="head">
 <div class="left">
  <h3>{HEAD_TITLE} ({COUNT_RECORDS})</h3><br>
  <!--<div id="error">{ERROR}</div>-->
  <a href="{BACK_LINK}" class="link_back"><img src="{BACK_IMAGE}">{BACK_TITLE}</a>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_LINK}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space10"></div>
<!-- BEGIN search -->
<form action="{THIS_PAGE}" method="GET" class="search">
 <!-- BEGIN field -->
 <div{FIELD_TITLE_CLASS}>{FIELD_TITLE}:</div>
 <div>
  <!-- BEGIN string --><input{FIELD_CLASS} name="form[{FIELD_CODE}]" value="{FIELD_VALUE}" maxlength="{FIELD_LENGTH}" table="{FIELD_TABLE}"><!-- END string --><!-- BEGIN date -->{TYPE_DATE}<!-- END date --><!-- BEGIN months -->{TYPE_MONTHS}<!-- END months --><!-- BEGIN select -->{TYPE_SELECT}<!-- END select --><!-- BEGIN bool --><input class="ch" type="checkbox" name="form[{FIELD_CODE}]" value="1"{FIELD}><!-- END bool -->
 </div>
 <!-- END field -->
 <div><input class="btnsearch" type="button" value="Поиск" title="Search"><input class="btncancel" type="button" value="Сброс" title="Reset" onclick="window.location='{THIS_PAGE}';"></div>
</form>
<div class="space20"></div>
<!-- END search --><!----------------------------------------------------------------------------->
<!-- BEGIN add -->
<a href="{ADD_LINK}" class="add">{ADD_TITLE}</a>
<div class="space10"></div>
<!-- END add --><!----------------------------------------------------------------------------->
<div{IS_SORT}>
 <div class="line_head">
  <!-- BEGIN column_title --><div class="title" unselectable="On"{COLUMN_STYLE}>{COLUMN_TITLE}</div>
  <!-- END column_title -->
 </div>
 <!-- BEGIN record -->
  <div class="line" _id="{ID}"{IS_CURSOR}>
   <!-- BEGIN right_icon --><div class="r_icon" <!-- BEGIN bool -->title="{ICON_TITLE}" style="background-image:url({ICON_IMAGE});" src="url({ICON_IMAGE2})" alt="{ICON_TITLE2}" field="{ICON_FIELD}"<!-- END bool --><!-- BEGIN delete -->title="{ICON_TITLE}" style="background-image:url({ICON_IMAGE});" del="{ICON_MESSAGE}"{ICON_ATTR_ID}}<!-- END delete --><!-- BEGIN none -->title="" style="background-image:url(img/_none.gif);"<!-- END none -->></div>
   <!-- END right_icon -->
   <!-- BEGIN column --><div class="title" unselectable="On"{COLUMN_STYLE}>{COLUMN_TITLE}</div>
   <!-- END column -->
  </div>
 <!-- END record -->
</div>

<div class="space10"></div>
<!-- BEGIN pages --><!----------------------------------------------------------------------------->
<div class="pages">
 <!-- BEGIN change_info -->
 <span>{PAGES_TITLE}</span>
  <select name="limit" onChange="window.location='{THIS_PAGE}?{QUERY_STRING_NO_LIMIT}limit=' + this.value">
   <!-- BEGIN limit --><option value="{LIMIT_VALUE}"{LIMIT}>{LIMIT_TITLE}</option><!-- END limit -->
  </select>
 <!-- END change_info -->
 <span>
  <!-- BEGIN page --><!-- BEGIN page_active_no --><a href="{THIS_PAGE}?{QUERY_STRING}page={PAGE_NUM_LINK}">{PAGE_NUM_TITLE}</a>{SEPARATOR}<!-- END page_active_no --><!-- BEGIN page_active -->{PAGE_NUM_TITLE}{SEPARATOR}<!-- END page_active --><!-- END page -->
 </span>
</div>
<div class="space10"></div>
<!-- END pages --><!----------------------------------------------------------------------------->
<div class="head">
 <div class="left">
  <a href="{BACK_LINK}" class="link_back"><img src="{BACK_IMAGE}">{BACK_TITLE}</a>
 </div>
 <div class="right"></div>
</div>