<h3 class="enter">Вход в систему</h3><br>
<noscript><div id="error">Внимание! У вас выключен JavaScript!<br>Включите JavaScript и перезагрузите страницу.</div></noscript>
<script type="text/javascript">
<!--
flag = false;
name = navigator.appName;
ua = navigator.userAgent;
ver = navigator.appVersion;
switch (name)
{
	case 'Microsoft Internet Explorer':
	{
		MSIEOffset = ua.indexOf("MSIE ");
		if (parseInt(ua.substring(MSIEOffset+5, MSIEOffset+10)) >= 6) flag = true;
	} break;
	case 'Netscape':
	{
		if (ua.indexOf('Shiretoko') != -1) 
		{ 
			flag = true; 
		}
		else if (ua.indexOf('Chrome') != -1)
		{
			start = ua.indexOf('Chrome') + 7;
			ver = parseFloat(ua.substr(start, 3));
			if (ver >= 3) flag = true;
		}
        else if (ua.indexOf('Firefox') != -1)
		{
			start = ua.indexOf('Firefox') + 8;
			ver = parseFloat(ua.substr(start, 3));
			if (ver >= 3) flag = true;
		}
		else if (ua.indexOf('Safari') != -1)
		{
			start = ua.indexOf('Version') + 8;
			ver = parseFloat(ua.substr(start, 3));
			if (ver >= 3) flag = true;
		}
	} break;
	case 'Opera':
	{
		if (parseFloat(ver) >= 9.50) flag = true;
	} break;
}

if (flag)
{
	document.write('<div id="auto_left"><div id="error">{ERROR}</div>');
	document.write('<form action="" method="POST" class="login">');
	<!-- BEGIN login -->
	document.write('Логин:<br>');
	document.write('<input class="login" name="login" value=""><br>');
	document.write('Пароль:<br>');
	document.write('<input class="login" name="pwd" type="password"><br>');
	document.write('<input type="button" name="enter" value="Войти" title="Войти" class="btn_orange w70">');
	document.write('</form></div><div id="auto_right">');
	document.write('<form action="" method="POST" class="login">');
	document.write('<div class="repass" onClick="$(\'#pass\').show();">Забыли пароль?</div>');
	document.write('<div id="pass">');
	document.write('E-mail:<br>');
	document.write('<input class="login" name="email" value=""><br>');
	document.write('<input type="button" name="re_pass" value="Получить" title="Получить" class="btn_orange w100"></div>');
	<!-- END login -->
	<!-- BEGIN code -->
	document.write('Код:<br>');
	document.write('<input class="login" name="code"><br>');
	document.write('<img src="/include/formvalidator/img.php?regen=y&amp;<?php echo time(); ?>" alt=""><br>');
	document.write('<input type="button" name="fcode" value="ОК" title="ОК" class="btn_orange w50">');
	<!-- END code -->
	document.write('</form></div>');
}
else
{
	document.write('<div id="error">Извините, ваша версия браузера не поддерживается!<br><br>Список поддерживаемых браузеров:<br>- Internet Explorer 6 (и выше)<br>- Mozilla Firefox 3 (и выше)<br>- Google Chrome 3 (и выше)<br>- Opera 9.50 (и выше)<br>- Safari 3.0 (и выше)</div>');
}
-->
</script>
<div class="space0"></div>