<div class="head">
 <div class="left">
  <h3>Сортировка страниц раздела: {MAIN_TITLE}</h3>
  <br><div id="test"></div>
  <a href="{BACK_HREF}" class="link_back"><img src="img/back.gif">вернуться к списку страниц<br>без сохранения изменений</a>
 </div>
 <div class="right">
  <div class="help_head" title="скрыть / показать"></div>
  <div class="help_text">Для сортировки объектов достаточно установить<br>на нужную иконку курсор мыши и, зажав левую<br>кнопку мыши, перетащить значок на новое место</div>
 </div>
 
</div>
<!----------------------------------------------------------------------------->
<div class="space10"></div>
<div class="main_sort" id="main_sort" table="{TABLE}">
 <!-- BEGIN record -->
 <div id="field_{NUM}" class="field_sort" unselectable="On" style="background:url('img/{ICON}2.gif') top no-repeat;"><div class="field_num" id="{ID}">{NUM}</div><br><br>{TITLE}</div>
 <!-- END record -->
 <!-- BEGIN record_empty -->
 <div id="field_{NUM}" class="field_sort_empty" unselectable="On"></div>
 <!-- END record_empty -->
</div>
<div class="space10"></div>
<div class="head">
 <div class="left">
  <a href="{BACK_HREF}" class="link_back"><img src="img/back.gif">вернуться к списку страниц<br>без сохранения изменений</a>
 </div>
 <div class="right">
  <input type="button" name="Сохранить" value="Сохранить" class="btnsave">
 </div>
</div>