<div class="chain">
 {CHAIN}<a href="{BACK_HREF}">Banners</a>&nbsp;&gt;&nbsp;{PAGE_TITLE}
</div>
<!----------------------------------------------------------------------------->
<div class="head">
 <div class="left">
  <h3>{HEAD_TITLE}</h3>
  {LAST_UPDATE}
  <div id="error">{ERROR}</div>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<!-- BEGIN banner_form -->
<div class="space20"></div>
<form action="{THIS_PAGE}?page={PAGE_ID}" method="POST" class="edit_form">
 <input type="hidden" name="a" value="{ACTION}_proc">
 <input type="hidden" name="form[ID]" value="{ID}">
 <input type="hidden" name="form[Last_update_user]" value="{LAST_UPDATE_USER_ID}">
 <input type="hidden" name="form[Last_update_date]" value="{LAST_UPDATE_DATE}">
 <input type="hidden" name="form[Last_update_ip]" value="{LAST_UPDATE_IP}">
 
 <div class="field w70">* Название:</div>
 <div class="field w260"><input class="w240 required" name="form[Title]" value="{Title}" maxlength="32"></div>
 <div class="field w40">* Код:</div>
 <div class="field w180"><input class="w160 required" name="form[Code]" value="{Code}" maxlength="32"></div>
 <div class="field">* Ширина:</div>
 <div class="field w50"><input class="w30 required" name="form[Width]" value="{Width}" maxlength="4"></div>
 <div class="field">* Высота:</div>
 <div class="field w50"><input class="w30 required" name="form[Height]" value="{Height}" maxlength="4"></div>
 <div class="field">Язык:</div>
 <div class="field w60">
  <select class="w50" name="form[Lang]" onChange="change('Язык', this);">
   <option value=""></option>
   <!-- BEGIN lang -->
   <option value="{LANG}"{LANG_ACTIVE}>{LANG}</option>
   <!-- END lang -->
  </select>
 </div>
 <div class="field">Скрыть:</div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>

 <div class="space10"></div>
 <!----------------------------------------------------------------------------->
 <div class="head">
  <div class="left">
   <a href="{BACK_HREF}" class="link_back"><img src="img/back.gif">вернуться к списку баннеров<br>без сохранения изменений</a>
  </div>
  <div class="right">
   <input type="button" value="Сохранить" title="Сохранить" class="btnsave">
  </div>
 </div>
</form>
<!-- END banner_form -->
<!----------------------------------------------------------------------------->
<!-- BEGIN banner_list -->
<div class="space20"></div>
<div>
 <b>List:</b>&nbsp;&nbsp;&nbsp;
 <!-- BEGIN ban_title -->
 <a id="banner_{bID}" class="ban_title" title="{bID}">{bTitle}</a>&nbsp;&nbsp;|&nbsp;
 <!-- END ban_title -->
 <a id="banner_add" class="ban_title" title="add">add</a>
</div>

<div class="space20"></div>
<form action="{THIS_PAGE}?page={PAGE_ID}&amp;id={ID}" method="POST" enctype="multipart/form-data" class="edit_form">
 <input type="hidden" name="banner[Position_id]" value="{ID}">
 <div id="ban_active"></div>
 
 <div class="space20"></div>
 <!----------------------------------------------------------------------------->
 <div class="head">
  <div class="left">
   <a href="{BACK_HREF}" class="link_back"><img src="img/back.gif">return to banners list<br>without saving changes</a>
  </div>
  <div class="right">
   <input type="button" value="Save" title="Save" class="btnsave">
  </div>
 </div>
</form>

<!-- BEGIN banner_img -->
<div id="ban_{bID}" class="hide">
 <input type="hidden" name="a" value="edit_ban">
 <input type="hidden" name="banner[ID]" value="{bID}">
 <input type="hidden" name="banner[Type]" value="{bType}"> 
 <div class="fright"><img src="{bImage_src}" width="{Width_}" height="{Height_}" alt="{bTitle}" title="{bTitle}"></div>
 <div class="field w180">* Title:</div>
 <div class="field"><input class="w452 required" name="banner[Title]" value="{bTitle}" maxlength="32"></div>
 <div class="field cleft w180">* Link:</div>
 <div class="field"><input class="w452 required" name="banner[Url]" value="{bUrl}" maxlength="64"></div>
 <div class="field cleft w180">Image ({Width} x {Height}):</div>
 <div class="field"><input type="button" value="Upload" onclick="$('#input_file').click()"></div>
 <div class="field"><input class="fl w460" type="file" name="Image" size="44" id="input_file" style="display:none;"></div>
 <div class="field cleft w180">Hide:</div>
 <div class="field w200 h24 hidden"><input class="ch" type="checkbox" name="banner[Hide]" value="1"{bHide}></div>
 <div class="field"><a href="{DEL_HREF}">delete</a></div>
</div>
<!-- END banner_img -->
<!-- BEGIN banner_txt -->
<div id="ban_{bID}" class="hide">
 <input type="hidden" name="a" value="edit_ban">
 <input type="hidden" name="banner[ID]" value="{bID}">
 <input type="hidden" name="banner[Type]" value="{bType}">
 <div class="field w180">* Title:</div>
 <div class="field w530"><input class="w510 required" name="banner[Title]" value="{bTitle}" maxlength="32"></div>
 <div class="field">Hide:</div>
 <div class="field w100 h24 hidden"><input class="ch" type="checkbox" name="banner[Hide]" value="1"{bHide}></div>
 <div class="field"><a href="{DEL_HREF}">delete</a></div>
 <div class="space0"></div>
 <div class="field w180">* Text:</div>
 <div class="field"><textarea class="w770 h100 required" name="banner[Value]">{bValue}</textarea></div>
</div>
<!-- END banner_txt -->
<div id="ban_add" class="hide">
 <input type="hidden" name="a" value="add_ban">
 <input type="hidden" name="banner[ID]" value="-1">
 <div class="field w180">* Title:</div>
 <div class="field w500"><input class="w480 required" name="banner[Title]" value="{bAddTitle}" maxlength="32"></div>
 <div class="field">* Banner type:</div>
 <div class="field w110">
  <select class="w90 required" id="ban_type" name="banner[Type]">
   <option value="1">image</option>
   <option value="2">text</option>
  </select>
 </div>
 <div class="field">Hide:</div>
 <div class="field h24 hidden"><input class="ch" type="checkbox" name="banner[Hide]" value="1"{bAddHide}></div>
 <div class="space0"></div>
 <div id="ban_type_img">
  <div class="field w180">* Image ({Width} x {Height}):</div>
  <div class="field"><input type="button" value="Upload" onclick="$('#input_file2').click()"></div>
  <div class="field"><input class="fl w460" type="file" name="Image" size="44" id="input_file2" style="display:none;"></div>
  <div class="space0"></div>
  <div class="field w180">* Link:</div>
  <div class="field"><input class="w480 required" name="banner[Url]" value="{bAddUrl}" maxlength="64"></div>
 </div>
 <div id="ban_type_txt" class="hide">
  <div class="field w180">* Text:</div>
  <div class="field"><textarea class="w770 h100 required" name="banner[Value]">{bAddValue}</textarea></div>
 </div>
</div>
<!-- END banner_list -->