 <div class="field w70">* Title:</div>
 <div class="field"><input class="w880 required" name="form[Title]" value="{Title}" maxlength="32"></div>
 <div class="space0"></div>
 <div class="field w70">Access:</div>
 <div class="field w690">
  <script type="text/javascript">var langs = new Array({LANGS});</script>
  <div>
   <!-- BEGIN lang_title -->
   <div class="gr_title_langs" title="{LANG}">{LANG_TITLE}</div>
   <!-- END lang_title -->
  </div>
  <div class="space10"></div>
  <div>
   <!-- BEGIN lang -->
   <div id="pages_{LANG}" class="hide">
    <!-- BEGIN pages -->
    <div class="page">
     <div class="hide">Access</div>
     <div class="field"><input class="ch" type="checkbox" name="{LANG}_pages[{pages_ID}]" value="{pages_ID}"{pages_Active}></div>
     <div>{pages_Title}</div>
    </div>
    <!-- END pages -->
   </div>
   <!-- END lang -->
  </div>
 </div>