<div class="head">
 <div class="left">
  <h3>Logs</h3><br>
  <!--<div id="error">{ERROR}</div>-->
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">back to options list</a>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space10"></div>
<!-- BEGIN search_form -->
<form action="{THIS_PAGE}" method="GET" class="search">
 <div>Month:</div>
 <div>
  <select class="w140" name="form[Month]" onChange="document.forms[0].submit();">
   <!-- BEGIN month -->
   <option value="{month_ID}"{month_Active}>{month_Title}</option>
   <!-- END month -->
  </select>
 </div>
 <div>User:</div>
 <div>
  <select class="w140" name="form[User_id]" onChange="document.forms[0].submit();">
   <option value="0"></option>
   <!-- BEGIN users -->
   <option value="{users_ID}"{users_Active}>{users_Title}</option>
   <!-- END users -->
  </select>
 </div>
 <div>Record (ID|Title):</div>
 <div><input class="w40" name="form[Record_id]" value="{Record_id}"><input class="w250" name="form[Record_title]" value="{Record_title}"></div>
 <div><input type="button" value="Search" title="Search" class="btnsearch"><input class="btncancel" type="button" value="Reset" title="Reset" onclick="window.location='opt/logs/';"></div>
</form>
<div class="space20"></div>
<!-- END search_form -->

<!-- BEGIN record -->
<div class="line">
 <div class="title logs_date" unselectable="On">{DATE}</div>
 <div class="title logs_user" unselectable="On">{USER}</div>
 <div class="title logs_page" unselectable="On">{PAGE}</div>
 <div class="title" unselectable="On">ID:{RECORD} / {RECORD_TITLE}</div>
</div>
<!-- END record -->
<div class="space10"></div>

<div class="head">
 <div class="left">
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">back to options list</a>
 </div>
 <div class="right"></div>
</div>