<b>Тема рассылки:</b><br>
{Subject}
<div class="space20"></div>
<b>Текст рассылки:</b>
<div class="mailing_body">{Body}</div>
<b>Кому рассылалось:</b>
<div><!-- BEGIN emails -->{Email}&nbsp;&nbsp;&nbsp;<!-- END emails --></div>