 <!-- BEGIN lang -->
 <!--<b>{TITLE_LANG}</b>-->
 <div class="space10"></div>
 <!-- BEGIN int_or_string -->
 <div class="field cleft w380">{TITLE}:</div>
 <div class="field"><input class="w360 required" name="{LANG}[{CODE}]" value="{VALUE}" maxlength="{LENGTH}"></div>
 <!-- END int_or_string -->
 <!-- BEGIN bool -->
 <div class="field cleft w380">{TITLE}:</div>
 <div class="field">
  <select class="w50" name="{LANG}[{CODE}]">
   <option value="1"{VALUE_1}>yes</option>
   <option value="0"{VALUE_0}>no</option>
  </select>
 </div>
 <!-- END bool -->
 <!-- BEGIN text -->
 <div class="field cleft w380">{TITLE}:</div>
 <div class="field"><textarea class="w360 required" name="{LANG}[{CODE}]" style="height:{LENGTH}px;">{VALUE}</textarea></div>
 <!-- END text -->
 <!-- BEGIN file -->
 <div class="field cleft w380">{TITLE} ({VALUE}):</div>
 <div class="field"><input class="fl w360" type="file" name="{LANG}__{CODE}"></div>
 <!-- END file -->
 <div class="space20"></div>
 <!-- END lang -->