<div class="head">
 <div class="left">
  <h3>Statistics</h3><br>
  <!--<div id="error">{ERROR}</div>-->
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">back to list pages</a>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space10"></div>
<!-- BEGIN search_form -->
<form action="{THIS_PAGE}" method="GET" class="search">
 <div>Name:</div>
 <div><input class="w220" name="form[Fio]" value="{Fio}" maxlength="64" table="{TABLE}"></div>
 <div>E-mail:</div>
 <div><input class="w240" name="form[Email]" value="{Email}" maxlength="64" table="{TABLE}"></div>
 <div>Date reg from</div>
 <div>{Date_start}</div>
 <div>to</div>
 <div>{Date_end}</div>
 <div><input type="button" value="Search" title="Search" class="btnsearch"></div>
</form>
<div class="space20"></div>
<!-- END search_form -->
 
 <div id="users_emails">
  <div class="line">
   <div class="title" unselectable="On" style="width:300px;"><b>Автор</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>Просмотров</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>Процент</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>Деньги</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>К выплате</b></div>
  </div>
  <!-- BEGIN record -->
  <div class="line">
   <div class="title" unselectable="On" style="width:300px;">{PEOPLE}</div>
   <div class="title" unselectable="On" style="width:150px;">{VIEWERS}</div>
   <div class="title" unselectable="On" style="width:150px;">{PERCENTS} %</div>
   <div class="title" unselectable="On" style="width:150px;">{MONEY} руб.</div>
   <div class="title" unselectable="On" style="width:150px;">{PAYABLE} руб.</div>
  </div>
  <!-- END record -->
  <div class="line">
   <div class="title" unselectable="On" style="width:300px;"><b>Итого:</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>{ALL_VIEWERS}</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>100 %</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>{ALL_MONEY} руб.</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>{ALL_PAYABLE} руб.</b></div>
  </div>
  <div class="space10"></div>
 </div>


<div class="head">
 <div class="left">
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">back to list pages</a>
 </div>
 <div class="right"></div>
</div>