<div class="head">
 <div class="left">
  <h3>Statistics on the content</h3><br>
  <!--<div id="error">{ERROR}</div>-->
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">back to list pages</a>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space10"></div>
{ERROR}
<!-- BEGIN search_form -->
<form action="{THIS_PAGE}" method="GET" class="search">
 <div>Author:</div>
 <div><input class="w200" name="form[FioOriginal]" value="{FioOriginal}" maxlength="64" table="ru_peoples" field="FioOriginal"></div>
 <!--<div>Section:</div>
 <div>
  <select name="form[Section_id]" class="w60">
   <option value="0"></option>
   <!-- BEGIN section --><option value="{SECTION_ID}"{SECTION}>{SECTION_TITLE}</option><!-- END section -->
  </select>
 </div>-->
 <div>Date from</div>
 <div>{Date_start}</div>
 <div>to</div>
 <div>{Date_end}</div>
 <div>Type:</div>
 <div><input type="radio" name="form[Record_code]" value="videos"> video</div>
 <div><input type="radio" name="form[Record_code]" value="photos"> photo</div>
 <div><input type="button" value="Search" title="Search" class="btnsearch"><input class="btncancel" type="button" value="Reset" title="Reset" onclick="window.location='{THIS_PAGE}';"></div>
</form>
<div class="space20"></div>
<!-- END search_form -->
 
 <div id="users_emails">
  <div class="line">
   <div class="title" unselectable="On" style="width:300px;"><b>Title</b></div>
   <div class="title" unselectable="On" style="width:200px;"><b>Author</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>Viewers</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>Percents</b></div>
   <div class="title" unselectable="On" style="width:100px;"><b>Money</b></div>
  </div>
  <!-- BEGIN record -->
  <div class="line">
   <div class="title" unselectable="On" style="width:300px;">{CONTENT}</div>
   <div class="title" unselectable="On" style="width:200px;">{AUTHOR}</div>
   <div class="title" unselectable="On" style="width:150px;">{VIEWERS}</div>
   <div class="title" unselectable="On" style="width:150px;">{PERCENTS} %</div>
   <div class="title" unselectable="On" style="width:100px;">{MONEY} руб.</div>
  </div>
  <!-- END record -->
  <div class="line">
   <div class="title" unselectable="On" style="width:300px;"><b>Итого:</b></div>
   <div class="title" unselectable="On" style="width:200px;"><b></b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>{ALL_VIEWERS}</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>100 %</b></div>
   <div class="title" unselectable="On" style="width:100px;"><b>{ALL_MONEY} руб.</b></div>
  </div>
  <div class="space10"></div>
 </div>


<div class="head">
 <div class="left">
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">back to list pages</a>
 </div>
 <div class="right"></div>
</div>