<div class="head">
 <div class="left">
  <h3>Statistics on authors</h3><br>
  <!--<div id="error">{ERROR}</div>-->
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">back to list pages</a>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space10"></div>
{ERROR}
<!-- BEGIN search_form -->
<form action="{THIS_PAGE}" method="GET" class="search">
 <div>Author:</div>
 <div><input class="w350" name="form[Author]" value="{Author}" maxlength="64" table="ru_peoples" field="FioOriginal"></div>
 <div>Date from</div>
 <div>{Date_start}</div>
 <div>to</div>
 <div>{Date_end}</div>
 <div><input type="button" value="Search" title="Search" class="btnsearch"><input class="btncancel" type="button" value="Reset" title="Reset" onclick="window.location='{THIS_PAGE}';"></div>
</form>
<div class="space20"></div>
<!-- END search_form -->
 
 <div id="users_emails">
  <div class="line">
   <div class="title" unselectable="On" style="width:350px;"><b>Author</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>Viewers</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>Percents</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>Money</b></div>
   <div class="title" unselectable="On" style="width:100px;"><b>Payable</b></div>
  </div>
  <!-- BEGIN record -->
  <div class="line">
   <div class="title" unselectable="On" style="width:350px;">{PEOPLE}</div>
   <div class="title" unselectable="On" style="width:150px;">{VIEWERS}</div>
   <div class="title" unselectable="On" style="width:150px;">{PERCENTS} %</div>
   <div class="title" unselectable="On" style="width:150px;">{MONEY} руб.</div>
   <div class="title" unselectable="On" style="width:100px;">{PAYABLE} руб.</div>
  </div>
  <!-- END record -->
  <div class="line">
   <div class="title" unselectable="On" style="width:350px;"><b>Итого:</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>{ALL_VIEWERS}</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>100 %</b></div>
   <div class="title" unselectable="On" style="width:150px;"><b>{ALL_MONEY} руб.</b></div>
   <div class="title" unselectable="On" style="width:100px;"><b>{ALL_PAYABLE} руб.</b></div>
  </div>
  <div class="space10"></div>
 </div>


<div class="head">
 <div class="left">
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">back to list pages</a>
 </div>
 <div class="right"></div>
</div>