 <div class="field w60">Date reg:</div>
 <div class="field w200">{Date_reg}</div>
 <div class="field w70">Money:</div>
 <div class="field w240"><input class="w50" name="form[Money]" value="{Money}" maxlength="8"> руб.</div>
 <div class="field w30">Sex:</div>
 <div class="field h24 hidden"><input class="ch" type="radio" name="form[Sex]" value="м"{Sex_M}></div>
 <div class="field w20">M</div>
 <div class="field h24 hidden"><input class="ch" type="radio" name="form[Sex]" value="ж"{Sex_F}></div>
 <div class="field w30">F</div>
 <div class="field">Free:</div>
 <div class="field w30 h24 hidden"><input class="ch" type="checkbox" name="form[IsFree]" value="1"{IsFree}></div>
 <div class="field">Subscription:</div>
 <div class="field w30 h24 hidden"><input class="ch" type="checkbox" name="form[IsSubscribe]" value="1"{IsSubscribe}></div>
 <div class="field">Block:</div>
 <div class="field h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>
 <div class="space5"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w60">Date last:</div>
 <div class="field w700">{Date_last}</div>
 <div class="field w70">Date birth:</div>
 <div class="field w100">{Date_birth}</div>
 <div class="space5"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w60">* Nick:</div>
 <div class="field w420"><input class="w400 required" name="form[Nick]" value="{Nick}" maxlength="32"></div>
 <div class="field w90">* Password:</div>
 <div class="field"><a id="psdw_edit">изменить</a></div>
 <div class="hide">Password</div>
 <div class="field hide">
  <input class="w360 required" id="psdw" name="form[Password]" value="" maxlength="16" type="password">
  <div id="psdw_indicate"></div>
 </div>
 <div class="space5"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w60">Rightholder:</div>
 <div class="field">{Rightholders}</div>
 <div class="field w420"></div>
 <div class="space0"></div>
 <div class="field w60">* Name:</div>
 <div class="field w420"><input class="w400 required" name="form[Fio]" value="{Fio}" maxlength="64"></div>
 <div class="field w50">* E-mail:</div>
 <div class="field"><input class="w400 required" name="form[Email]" value="{Email}" maxlength="128"></div>
 <div class="space0"></div>
 <div class="field w60">Phone:</div>
 <div class="field w420"><input class="w400" name="form[Phone]" value="{Phone}" maxlength="64"></div>
 <div class="field w50">City:</div>
 <div class="field"><input class="w400" name="form[City]" value="{City}" maxlength="128"></div>
 <div class="space0"></div>
 <div class="space0"></div>
 <div class="field w60">Info:</div>
 <div class="field"><textarea class="w890 h50" name="form[Interests]">{Interests}</textarea></div>