 <div class="field w830"></div>
 <div class="field w90">Заблокировать:</div>
 <div class="field h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>
 <div class="space0"></div>
 <div class="field w90">* Группа:</div>
 <div class="field w390">{Group}</div>
 <div class="space0"></div>
 <div class="field w90">* Логин:</div>
 <div class="field w390"><input class="w370 required" name="form[Login]" value="{Login}" maxlength="16"></div>
 <div class="field w90">* Пароль:</div>
 <div class="field"><a id="psdw_edit">изменить</a></div>
 <div class="hide">Password</div>
 <div class="field hide">
  <input class="w370 required" id="psdw" name="form[Password]" value="" maxlength="16" type="password">
  <div id="psdw_indicate"></div>
 </div>
 <div class="space0"></div>
 <div class="field w90">* Имя:</div>
 <div class="field w390"><input class="w370 required" name="form[Fio]" value="{Fio}" maxlength="64"></div>
 <div class="field w90">Телефон:</div>
 <div class="field"><input class="w370" name="form[Phone]" value="{Phone}" maxlength="32"></div>
 <div class="space0"></div>
 <div class="field w90">* E-mail:</div>
 <div class="field w390"><input class="w370 required" name="form[Email]" value="{Email}" maxlength="32"></div>
 <div class="field w90">Должность:</div>
 <div class="field"><input class="w370" name="form[Post]" value="{Post}" maxlength="32"></div>
 <div class="space0"></div>
 <div class="field w90">Организация:</div>
 <div class="field w390"><input class="w370" name="form[Organization]" value="{Organization}" maxlength="64"></div>
 <div class="field w90">* Часовой пояс:</div>
 <div class="field">
  <select class="w378 required" name="form[Timezone]">
   <!-- BEGIN timezones -->
   <option value="{Timezone}"{Timezone_action}>{Timezone_title}</option><!-- END timezones -->
  </select>
 </div>
 <div class="space0"></div>
 <div class="field w90">Комментарий:</div>
 <div class="field"><textarea class="w858 h50" name="form[Comments]">{Comments}</textarea></div>