@charset "utf-8";
/* CSS Document for IE7 */
/* ---------------------------------------------------------------------------------------------- */
form.search div input { margin:0px -5px; }
form.search div img { margin:0px -5px 0px 5px; }
form.search input.btnsearch { margin-left:0px; }

div.pages { padding-top:2px; padding-bottom:4px; }
div.pages select { margin-top:2px; }

div.page input { margin-top:1px; }