@charset "utf-8";
/* CSS Document for IE6 */
/* ---------------------------------------------------------------------------------------------- */
#auto_left { margin-left:104px; }

#main { margin-top:-1px; }

/*form.search { width:759px; padding-left:5px; margin-right:0px; float:left; }*/
form.search { width:764px; padding-left:5px; }

form.search div input { margin:0px -5px; }
form.search div img { margin:0px -5px 0px 5px; }
form.search input.btnsearch { margin-left:0px; }

div.page input { margin-top:1px; }