@charset "utf-8";
/* CSS Document */
/* ---------------------------------------------------------------------------------------------- */
* { margin:0px; padding:0px; }
body { padding-top:10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; overflow:auto; overflow-y:scroll; }
h3 { font-size:16px; }
a { text-decoration:none; color:#0000CC; }
img { border:0px; }
input, textarea { font-family:Tahoma, Geneva, sans-serif; font-size:13px; }
/* ---------------------------------------------------------------------------------------------- */
#error { font-size:11px; color:#f00; }

.space0 { height:1px; width:100%; display:block; float:none; clear:left; overflow:hidden; font-size:1px; }
.space5 { height:5px; width:100%; display:block; float:none; clear:left; overflow:hidden; font-size:5px; }
.space10 { height:10px; width:100%; display:block; float:none; clear:left; overflow:hidden; font-size:10px; }
.space20 { height:20px; width:100%; display:block; float:none; clear:left; overflow:hidden; font-size:20px; }
/* ---------------------------------------------------------------------------------------------- */
.w20 { width:20px; } .w30 { width:30px; } .w40 { width:40px; } .w42 { width:42px; } .w50 { width:50px; } .w56 { width:56px; } .w60 { width:60px; } .w68 { width:68px; } .w70 { width:70px; } .w80 { width:80px; } .w90 { width:90px; } .w100 { width:100px; } .w110 { width:110px; } .w120 { width:120px; } .w130 { width:130px; } .w132 { width:132px; } .w140 { width:140px; } .w148 { width:148px; } .w150 { width:150px; } .w156 { width:156px; } .w160 { width:160px; } .w170 { width:170px; } .w180 { width:180px; } .w190 { width:190px; } .w200 { width:200px; } .w210 { width:210px; } .w220 { width:220px; } .w230 { width:230px; } .w240 { width:240px; } .w250 { width:250px; } .w252 { width:252px; } .w260 { width:260px; } .w270 { width:270px; } .w278 { width:278px; } .w280 { width:280px; } .w290 { width:290px; } .w300 { width:300px; } .w310 { width:310px; } .w320 { width:320px; } .w328 { width:328px; } .w330 { width:330px; } .w340 { width:340px; } .w350 { width:350px; } .w352 { width:352px; } .w360 { width:360px; } .w370 { width:370px; } .w378 { width:378px; } .w380 { width:380px; } .w390 { width:390px; } .w400 { width:400px; } .w408 { width:408px; } .w410 { width:410px; } .w420 { width:420px; } .w428 { width:428px; } .w430 { width:430px; } .w440 { width:440px; } .w450 { width:450px; } .w452 { width:452px; } .w460 { width:460px; } .w470 { width:470px; } .w480 { width:480px; } .w490 { width:490px; } .w500 { width:500px; } .w510 { width:510px; } .w520 { width:520px; } .w530 { width:530px; } .w540 { width:540px; } .w550 { width:550px; } .w560 { width:560px; } .w570 { width:570px; } .w580 { width:580px; } .w590 { width:590px; } .w600 { width:600px; } .w610 { width:610px; } .w620 { width:620px; } .w630 { width:630px; } .w648 { width:648px; } .w640 { width:640px; } .w650 { width:650px; } .w658 { width:658px; } .w660 { width:660px; } .w668 { width:668px; } .w670 { width:670px; } .w680 { width:680px; } .w690 { width:690px; } .w700 { width:700px; } .w710 { width:710px; } .w720 { width:720px; } .w730 { width:730px; } .w740 { width:740px; } .w750 { width:750px; } .w760 { width:760px; } .w770 { width:770px; } .w780 { width:780px; } .w790 { width:790px; } .w800 { width:800px; } .w810 { width:810px; } .w820 { width:820px; } .w830 { width:830px; } .w840 { width:840px; } .w848 { width:848px; } .w850 { width:850px; } .w858 { width:858px; } .w860 { width:860px; } .w868 { width:868px; } .w870 { width:870px; } .w880 { width:880px; } .w890 { width:880px; } .w890 { width:880px; } .w900 { width:900px; } .w910 { width:910px; } .w920 { width:920px; } .w930 { width:930px; } .w940 { width:940px; } .w950 { width:950px; } .w960 { width:960px; }
/* ---------------------------------------------------------------------------------------------- */
.h_ { height:auto; } .h18 { height:18px; } .h20 { height:20px; } .h24 { height:24px; } .h40 { height:40px; } .h50 { height:50px; } .h70 { height:70px; } .h80 { height:70px; } .h90 { height:70px; } .h100 { height:100px; } .h500 { height:500px; }
/* ---------------------------------------------------------------------------------------------- */
.hide { display:none; }
.hidden { overflow:hidden; }

div.fright { float:right; }
div.cleft { clear:left; }
/* ---------------------------------------------------------------------------------------------- */
/*  */
input.btn_orange { height:28px; margin-top:2px; border:1px solid #999; font-weight:bold; font-size:110%; background:#f5f4ee url("../img/btnact-bg.gif") bottom repeat-x; cursor:pointer; }
input.btn_grey { border:1px solid #999; padding:5px; font-weight:bold; background:#f2f4f5 url("../img/btninact-bg.gif") bottom repeat-x; cursor:pointer; } 
/* ---------------------------------------------------------------------------------------------- */
#header { width:1014px; height:50px; margin:auto; display:block; float:none; font-size:24px; color:#434765; }
#header img { margin-right:30px; float:left; display:block; }
/* ---------------------------------------------------------------------------------------------- */
#head { width:1016px; height:30px; display:block; margin:auto; }
#head div.title, #head div.title_active, #head div.title2, #head div.title2_active { height:29px; float:left; max-width:200px; border:1px solid #999; margin-right:2px; font-size:11px; padding:0px 10px; text-align:center; color:#000; z-index:99; }
#head div.title, #head div.title2 { background:#cfd2d4; cursor:pointer; }
#head div.title2, #head div.title2_active { height:23px; padding-top:6px; }
#head div.title_active, #head div.title2_active { background:#e9ecee; border-bottom-color:#e9ecee; }
#head a div.title_active, #head a div.title2_active { cursor:pointer; }
#head div.links_right { float:right; padding-top:7px; margin-right:10px; font-size:11px; }
#head div.lang { font-size:10px; margin-top:-2px; }
/* ---------------------------------------------------------------------------------------------- */
#main { width:974px; margin:auto; padding:15px 20px; border:1px solid #999; background:fixed #e9ecee url('../img/background.gif') top left repeat; }
/* ---------------------------------------------------------------------------------------------- */
/* Страница логина */
h3.enter { margin-left:308px; }
#auto_left { float:left; margin-left:308px; }
#auto_right { float:left; margin-left:60px; }
input.login { height:18px; padding:1px 3px; border:1px solid #999; }
div.repass { margin-bottom:21px; float:left; color:#FF0000; border-bottom:1px dashed red; font-weight:bold; cursor:pointer; }
#pass { display:none; clear:left; }
/* ---------------------------------------------------------------------------------------------- */
/*    */
#sort_lines li { list-style-type:none; }

div.line_head { height:24px; margin-left:-13px; padding-left:13px; padding-right:1px; }
div.line_head div.title { height:20px; float:left; margin:2px 0px 0px 7px; color:#666; border-bottom:1px dotted; font-weight:bold; }
div.line_head div.title a { color:#666; }

div.line { height:24px; margin-left:-13px; padding-left:13px; padding-right:1px; }
div.line_over { height:22px; margin-left:-13px; padding-left:12px; background:#fff; border:1px solid #999; }
div.line_hide { display:none; }

div.line img { float:left; }
div.line div.title { height:20px; float:left; margin:2px 0px 0px 7px; color:#666; }
div.line div.actions { display:none; }
div.line div.actions a { color:#e9ecee; }
div.line div.r_icon { float:right; width:18px; height:23px; margin-right:8px; background-position:0px 0px; }

div.line_over img { float:left; border:0px; margin-top:-1px; }
div.line_over div.title { height:21px; float:left; margin:1px 0px 0px 7px; color:#0000ff; -moz-user-select:none; -khtml-user-select:none; color:#666; }
div.line_over div.actions { height:19px; float:right; margin:3px 22px 0px 0px; text-align:right; font-size:11px; }
div.line_over div.actions a { cursor:pointer; }
div.line_over div.r_icon { float:right; width:18px; height:23px; margin-right:8px; background-position:18px -1px; cursor:pointer; }
/* ---------------------------------------------------------------------------------------------- */
/*   */
form.search { width:959px; padding:7px 0px 5px 10px; background:#ccc; font-size:11px; overflow:hidden; }
form.search div { float:left; margin:0px 5px; height:22px; line-height:22px; }
form.search input { height:18px; padding:1px 3px; background:#f5f4ee; border:1px solid #999; }
form.search select { height:22px; padding:1px 0px 2px 1px; background:#f5f4ee; border:1px solid #999; }
form.search input.btnsearch, form.search input.btncancel { height:22px; width:65px; margin-left:5px; background:#f2f4f5 url("../img/btn_grey.gif") bottom repeat-x; border:1px solid #999; cursor:pointer; } 
form.search input.btnsearch2 { height:22px; width:65px; margin-left:5px; background:#f2f4f5 url("../img/btn_grey.gif") bottom repeat-x; border:1px solid #999; cursor:pointer; } 

a.add { font-weight:bold; margin-left:7px; }

div.line div.title2 { height:19px; float:left; margin:2px 22px 0px 0px; text-align:right; color:#666; }
div.line_over div.title2 { height:19px; float:left; margin:1px 22px 0px 0px; text-align:right; color:#666; cursor:default; }

div.pages { width:954px; padding:4px 10px; background:#ccc; font-size:11px; }
div.pages select { height:20px; padding:1px 0px 1px 1px; margin:0px 10px; font-size:10px; background:#f5f4ee; }
/* ---------------------------------------------------------------------------------------------- */
/*   */
div.chain { width:954px; margin-bottom:10px; }

div.head { width:954px; overflow:hidden; }
div.head div.left { float:left; }
div.head div.right { float:right; font-size:12px; text-align:right; }

a.link_back { display:block; float:left; font-size:10px; white-space:nowrap; }
a.link_back img { float:left; margin-right:10px; }
form.edit_form { font-size:12px; }

form.edit_form div.field { float:left; min-height:24px; line-height:24px; padding:0px 2px; }
form.edit_form div.field input { height:18px; padding:1px 3px; border:1px solid #999; }
form.edit_form div.field select { height:24px; padding:1px 0px 1px 1px; border:1px solid #999; }
form.edit_form div.field textarea { padding:2px 3px; border:1px solid #999; }
input.ch { margin-top:4px; border:0px !important; }
input.fl { height:22px; }

.wrong { border:1px solid #f00 !important; }

input.btnsave { width:100px; height:28px; border:1px solid #999; font-weight:bold; font-size:120%; background:#f5f4ee url("../img/btnact-bg.gif") bottom repeat-x; cursor:pointer; }

div.popup_image { width:60px; float:left; margin-right:10px; color:#009; text-decoration:underline; cursor:pointer; }
div.popup_image div { display:none; position:absolute; padding:7px; margin-top:-5px; border:1px solid #999; background:#e9ecee; cursor:default; text-align:center; }
/* ---------------------------------------------------------------------------------------------- */
/* Сортировка разделов */
div.main_sort { width:960px; overflow:hidden; border:1px solid #ccc; position:relative; }
div.help_head { width:37px; height:14px; float:right; background:url('../img/help_right.gif') right no-repeat; cursor:pointer; overflow:hidden; }
div.help_text { width:auto; height:54px; padding:2px 5px 2px 6px; float:right; clear:right; background:#fff; color:#999; }
div.field_sort, div.field_sort_empty { width:158px; height:61px; float:left; padding:2px 0px 3px; border:1px solid #ccc; text-align:center; font-size:12px; cursor:default; -moz-user-select:none; -khtml-user-select:none; }
div.field_sort div.field_num, div.field_sort_empty div.field_num { float:left; margin-left:5px; font-size:10px; color:#000999; text-align:left; }
/* ---------------------------------------------------------------------------------------------- */
/*  */
a.a. { margin-left:6px; cursor:pointer; }
/* ---------------------------------------------------------------------------------------------- */
/*  */

/* ---------------------------------------------------------------------------------------------- */
/* Фотоальбомы */
.foto_text { width:825px; border:1px solid #999; padding:1px 2px; background:#fff; }
.foto_text_hide { background:#f0f0f0; }
#foto_change { cursor:pointer; }

div.main_foto { width:924px; overflow:hidden; border:1px solid #ccc; position:relative; }
div.foto, div.foto_empty, div.foto_over { width:152px; height:150px; float:left; padding:5px 0px 3px; border:1px solid #ccc; text-align:center; font-size:11px; cursor:default; -moz-user-select:none; -khtml-user-select:none; }
div.foto div.foto_num, div.foto_empty div.foto_num { float:left; margin-left:5px; font-size:9px; color:#000999; text-align:left; }
div.foto div.foto_title, div.foto_over div.foto_title { margin:5px; height:20px; }
div.foto div.icons, div.foto_over div.icons { padding-left:50px; }
div.foto div.icon { float:left; width:18px; height:23px; margin:0px 5px; background-position:0px 0px; }
div.foto_over div.icon { float:left; width:18px; height:23px; margin:0px 5px; background-position:18px 0px; cursor:pointer; }

div.foto_over { background:#fff; }
/* ---------------------------------------------------------------------------------------------- */
/* Опросы */
a.add_answer { margin-left:6px; cursor:pointer; }
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* Магазин */
#items_props table {}
#items_props table th { padding-right:15px; }
#items_props table td { padding-right:15px; border-top:1px dotted #ccc; }

#order_items { width:100%; }
#order_items th { text-align:left; border-top:1px dotted #666; padding:3px; }
#order_items th.summary { text-align:right; }
#order_items td { border-top:1px dotted #666; padding:3px; }

#add_item_prop { cursor:pointer; border-bottom:1px solid #0000CC; }
#add_prop { cursor:pointer; border-bottom:1px dotted #0000CC; }
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* Настройки */
div.line div.opt_right, div.line_over div.opt_right { float:right; width:80px; height:19px; }
/* ---------------------------------------------------------------------------------------------- */
/* Настройки -> Пользователи админки */
#psdw_edit { border-bottom:1px dashed #009; cursor:pointer; }
#psdw_indicate { width:10px; height:8px; }
/* ---------------------------------------------------------------------------------------------- */
/* Настройки -> Группы для админки */
div.gr_title_langs { float:left; margin-right:30px; cursor:pointer; color:#00c; }
div.gr_title_langs_act { text-decoration:underline; }
div.page { width:330px; height:auto; float:left; }
div.page input { float:left; margin-top:5px; }
div.page div { float:left; margin-left:5px; }
/* ---------------------------------------------------------------------------------------------- */
/* Бан-лист */
a.ban_title { cursor:pointer; }
a.ban_title_act { font-size:16px; font-weight:bold; text-decoration:underline; }
#ban_type_img, #ban_type_txt { width:100%; }
/* ---------------------------------------------------------------------------------------------- */
/*  */

/* ---------------------------------------------------------------------------------------------- */
/* пользователи сайта */
a.users { float:right; font-weight:bold; cursor:pointer; }

div.line div.users, div.line_over div.users { margin-right:60px; }

#users_text div.count { text-align:center; color:#f00; }
#users_text div.count span { font-size:14px; font-weight:bold; }
#users_text input.subject { width:850px; height:18px; padding:1px 3px; border:1px solid #999; margin:5px 0px; }
#users_text div.button { text-align:center; }
/* ---------------------------------------------------------------------------------------------- */
/* архив рассылки */
div.mailing_body { padding:10px; margin:10px 0px; border:1px solid #000; }
/* ---------------------------------------------------------------------------------------------- */
/* логи админки */
div.line div.logs_date, div.line_over div.logs_date { width:100px; white-space:nowrap; }
div.line div.logs_user, div.line_over div.logs_user { width:200px; margin-left:30px; text-align:left; }
div.line div.logs_page, div.line_over div.logs_page { width:300px;  }
/* ---------------------------------------------------------------------------------------------- */
/* Администрирование -> Настройки */
div.line div.adm_opt_value, div.line_over div.adm_opt_value { width:200px; text-align:left; }
div.line div.adm_opt_lang, div.line_over div.adm_opt_lang { margin-right:100px; }
/* ---------------------------------------------------------------------------------------------- */
/* Администрирование -> Меню настроек */
div.line div.adm_opt_menu_code, div.line_over div.adm_opt_menu_code { width:150px; text-align:left; }
div.line div.adm_opt_menu_parent_title, div.line_over div.adm_opt_menu_parent_title { margin-right:80px; text-align:left; }
/* ---------------------------------------------------------------------------------------------- */
/* Администрирование -> Страницы сайта */
div.line div.adm_pages_type, div.line_over div.adm_pages_type { width:100px; }
/* ---------------------------------------------------------------------------------------------- */
#bottom { width:800px; float:none; display:block; margin:6px auto 0px auto; color:#999; font-size:10px; }
#bottom div.bot_left { float:left; }
#bottom div.bot_right { float:right; }
#bottom div.bot_right a { color:#999; }
/* ---------------------------------------------------------------------------------------------- */
/*   */
#loading { width:814px; margin:auto; border:1px solid #999; background:#e9ecee; text-align:center; display:none; }
#dialog { text-align:center; }
/* ---------------------------------------------------------------------------------------------- */
.black { color:#000 !important; }

a.add_adv_select { cursor:pointer; }