        <!-- content -->
  <section id="content">
      <div class="wrapper">
        <h2>Page not found</h2>
		
        <div class="pad">
          <p class="pad_bot2">404 - Page not found</p>
		  </div>
		  
      </div>
    </section>
      </div>
    </div>
  </div>
</div>
<!-- / content -->