        <!-- content -->
        <!-- BEGIN main_about -->
		<section id="content">
          <div class="wrapper">
            <h2>{MAIN_ABOUT_TITLE}</h2>
            <div class="wrapper">
              <!-- BEGIN about_main_img --><figure class="left marg_right1"><img src="{MAIN_ABOUT_IMG}" alt=""></figure><!-- END about_main_img -->
              {MAIN_ABOUT_TEXT}
			  <!--<p><a href="{MAIN_ABOUT_LINK}" class="button">Read More</a></p></div>-->
            </div>
          </div>
        </section>
		<!-- END main_about -->
      </div>
    </div>
  </div>
</div>
<!-- BEGIN bottom_about -->
<div class="body4">
  <div class="main">
    <section id="content2">
      <div class="line2 wrapper">
        <div class="wrapper">
		<!-- BEGIN col1 -->
          <article class="col1">
            <h2>{BOTTOM_ABOUT_TITLE_1}</h2>
            <div class="pad">
			  <!-- BEGIN bot_main_img1 -->
			  <figure class="left marg_right1 marg_left1"><img src="{BOT_ABOUT_IMG1}" alt=""></figure>
			  <!-- END bot_main_img1 -->
              <p class="pad_bot2">{BOTTOM_ABOUT_TEXT_1}</p>
            </div>
          </article>
		  <!-- END col1 -->
		  <!-- BEGIN col2 -->
          <article class="col2 pad_left1">
            <h2>{BOTTOM_ABOUT_TITLE_2}</h2>
            <div class="pad">
			  <!-- BEGIN bot_main_img2 -->
			  <figure class="left marg_right1 marg_left1"><img src="{BOT_ABOUT_IMG2}" alt=""></figure>
			  <!-- END bot_main_img2 -->
              <p class="pad_bot1">{BOTTOM_ABOUT_TEXT_2}</p>
            </div>
          </article>
		  <!-- END col2 -->
        </div>
		<!-- BEGIN buttons -->
        <div class="wrapper buttons">
          <!-- BEGIN butt1 -->
		  <article class="col1"> <a href="#" class="button">Read More</a> </article>
          <!-- END butt1 -->
          <!-- BEGIN butt2 -->
          <article class="col2 pad_left1"> <a href="#" class="button">Read More</a> </article>
          <!-- END butt2 -->
        </div>
		<!-- END buttons -->
      </div>
    </section>
  </div>
</div>
	<!-- END bottom_about -->
<!-- / content -->