<div class="user-menu"><div class="user-menu-inner">
<ul>
<!-- BEGIN menu -->
<li><a href="lk/?{MENU_CODE}"{MENU_ACT}>{MENU_TITLE}</a></li>
<!-- END menu -->
<li class="last"><a href="/?logout">Выход</a></li>
</ul>
</div></div>