<div class="main">
  <!-- footer -->
  <footer>
    <div class="wrapper"> <span class="left"> {Copyright}<br>
      </span>
      <ul id="icons">
        <li><a href="{Facebook}" class="normaltip" title="Facebook" target="_blank"><img src="/images/icon1.png" alt=""></a></li>
        <li><a href="{Delicious}" class="normaltip" title="Delicious" target="_blank"><img src="/images/icon2.png" alt=""></a></li>
        <li><a href="{Stumble}" class="normaltip" title="Stumble Upon" target="_blank"><img src="/images/icon3.png" alt=""></a></li>
        <li><a href="{Twitter}" class="normaltip" title="Twitter" target="_blank"><img src="/images/icon4.png" alt=""></a></li>
        <li><a href="{Linkedin}" class="normaltip" title="Linkedin" target="_blank"><img src="/images/icon5.png" alt=""></a></li>
        <li><a href="{Reddit}" class="normaltip" title="Reddit" target="_blank"><img src="/images/icon6.png" alt=""></a></li>
      </ul>
    </div>
    <!-- {%FOOTER_LINK} -->
  </footer>
  <!-- / footer -->
</div>
<script type="text/javascript">Cufon.now();</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#myRoundabout').roundabout({
        shape: 'square',
        minScale: 0.93, // tiny!
        maxScale: 1, // tiny!
        easing: 'easeOutExpo',
        clickToFocus: 'true',
        focusBearing: '0',
        duration: 800,
        reflect: true
    });
	
    tabs.init();
    //for lightbox
    if ($("a[rel^='prettyPhoto']").length) {
        $(document).ready(function () {
            // prettyPhoto
            $("a[rel^='prettyPhoto']").prettyPhoto({
                theme: 'light_square'
            });
        });
    }

});
</script>
</body>
</html>