        <!-- content -->
        <section id="content">
          <div class="wrapper">
		  <!-- BEGIN last_news -->
            <h2><span>{LAST_DATE}</span> {LAST_TITLE}</h2>
            <div class="wrapper">
              <!-- BEGIN last_img --><figure class="left marg_right1"><img src="{LAST_IMG}" alt=""></figure><!-- END last_img -->
			  {LAST_TEXT}
          </div>
		  <!-- END last_news -->
        </section>
      </div>
    </div>
  </div>
</div>
<div class="body4">
  <div class="main">
    <section id="content2">
      <div class="wrapper">
        <h2>Archive</h2>
        <div class="pad">
		<!-- BEGIN arch_news -->
          <p class="pad_bot2"> <strong> <span class="color1">{ARCH_DATE}</span> {ARCH_TITLE}</strong> </p>
          <p> {ARCH_ANNOUNCE} <a href="{ARCH_LINK}" class="link2">[...]</a> </p>
		  <!-- END arch_news -->
		  </div>
      </div>
    </section>
  </div>
</div>
<!-- / content -->