       <!-- content -->
        <section id="content">
          <div class="wrapper">
            <h2>Contact Form</h2>
			<span id="send_ok"></span>
            <form id="ContactForm" action="#">
              <div>
                <div class="wrapper"> <span>Your Name:</span>
                  <input type="text" class="input" name="name" id="name">
                </div>
                <div class="wrapper"> <span>Your E-mail:</span>
                  <input type="text" class="input" name="email" id="email">
                </div>
                <div class="textarea_box"> <span>Your Message:</span>
                  <textarea name="textarea" cols="1" rows="1" name="msg" id="msg"></textarea>
                </div>
                <span>&nbsp;</span> <a href="#" class="button" id="clear">Clear</a> <a href="#" class="button" id="send">Send</a> </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="body4">
  <div class="main">
    <section id="content2">
      <div class="line2 wrapper">
        <div class="wrapper">
          <article class="col1">
            <h2>Miscellaneous</h2>
            <div class="pad"> {Miscellaneous_text} </div>
          </article>
          <article class="col2 pad_left1">
            <h2>My Contacts</h2>
            <div class="pad"> <span class="col3"> <strong> Country:<br>
              State:<br>
              City:<br>
              Telephone:<br>
              Email: </strong> </span> {Country}<br>
              {State}<br>
              {City}<br>
              {Phone}<br>
              <a href="mailto:{Email}">{Email}</a> </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- / content -->

<script type="text/javascript">
$(document).ready(function(){
	$('#clear').click(function(){
		$('#ContactForm')[0].reset();
		
		return false;
	});
	
	$('#send').click(function(){
	
		var name = $('#name').val();
		var email = $('#email').val();
		var msg = $('#msg').val();
		
		if(!name.trim() || !email.trim() || !msg.trim())
			alert('All fields required');
		else if(!IsEmail(email))
			alert('Your e-mail is incorrect');
		else{
			$.ajax({
				type: "POST",
				url: location.href,
				data: {send:1, name:name, email:email, msg:msg},
				success: function(e){
					if (e == "ok"){
						$('#ContactForm').hide();
						$('#send_ok').append('Your message has been successfully sent');
					}
					else
						alert(e);
				}
			});
		}
		return false;
	});
	
  function IsEmail(email) {
	  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  return regex.test(email);
	}
});
</script>