        <!-- content -->
        <section id="content">
          <div class="line1 wrapper">
            <div class="wrapper tabs">
              <article class="col1">
                <h2>Categories</h2>
                <div class="pad">
                  <ul class="nav">
				  <!-- BEGIN categories -->
                    <li {SELECTED}><a href="#{CAT_CODE}">{CAT_TITLE}</a></li>
				  <!-- END categories -->
                  </ul>
                </div>
              </article>
			  <!-- BEGIN categories_items -->
              <article class="col2 pad_left1 tab-content" id="{ITEMS_CODE}">
                <h2>{ITEMS_TITLE} Category</h2>
                <ul class="gallery">
				<!-- BEGIN item -->
                  <li {ITEM_CLASS}> <a href="{ITEM_IMG}" class="lightbox-image" rel="prettyPhoto[group1]" > <img src="{ITEM_IMG_MINI}" alt="" {ITEM_MARGIN}> </a> </li>
				<!-- END item -->
                </ul>
              </article>
			  <!-- END categories_items -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="body4">
  <div class="main">
    <section id="content2"> </section>
  </div>
</div>
<!-- / content -->