        <section id="content">
          <div class="wrapper">
		  <!-- BEGIN news -->
            <h2><span>{DATE}</span> {TITLE}</h2>
            <div class="wrapper">
              <!-- BEGIN img --><figure class="left marg_right1"><img src="{IMG}" alt=""></figure><!-- END img -->
			  {TEXT}
          </div>
		  <!-- END news -->
        </section>
      </div>
    </div>
  </div>
</div>