        <!-- content -->
  <section id="content">
      <div class="wrapper">
        <h2>Search</h2>
        <div class="pad">
		<!-- BEGIN result -->
          <p class="pad_bot2"> <strong>{TITLE}</strong> </p>
          <p> {DESC} <a href="{LINK}" class="link2">[...]</a> </p>
		  <!-- END result -->
		  </div>
		<!-- BEGIN no_result -->
        <div class="pad">
          <p class="pad_bot2">No results</p>
		  </div>
		  <!-- END no_result -->
      </div>
    </section>
      </div>
    </div>
  </div>
</div>
<!-- / content -->