<!-- home promo -->

<div class="fashion"><div class="promo-line-home bg">
<div class="promo-img"><a href="#"><img src="img/home-img-promo.jpg" width="630" height="330" alt=""></a></div>
<div class="promo-text-home">
<div class="h-section"><a href="#">{SECTION_TITLE}</a></div>
<h2><a href="#">Fashion Photography Sarah Louise  Johnson</a></h2>
<div class="h-author"><a href="#">by Sara Louise Johnson</a></div>

<div class="promo-scroll-home"><a href="#"><img src="img/f-promo-scroll-left.png" width="16" height="44" alt=""></a><div class="promo-scroll-line">
<div class="promo-scroll-f-act"><a href="#">1</a></div><div class="promo-scroll-f-inact"><a href="#">2</a></div><div class="promo-scroll-f-inact"><a href="#">3</a></div>
</div><a href="#"><img src="img/f-promo-scroll-right-act.png" width="16" height="44" alt=""></a></div>
</div>
<div class="clear"></div>
</div></div>

<!-- items list -->
<div class="content-bg">

<div class="home"><div class="items-list-type-line"><a href="#" class="sel"><img src="img/ico-list-pix.gif" width="19" height="19" alt=""></a><a href="#"><img src="img/ico-list-list.gif" width="19" height="19" alt=""></a></div></div>


<div class="blog"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/clear.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>

<div class="nuart"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/f-lock.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>

<div class="fashion"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/clear.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>

<div class="erotica"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/clear.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>

<div class="mc"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/f-lock.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>



<div class="blog"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/clear.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>

<div class="nuart"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/f-lock.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>

<div class="fashion"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/clear.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>

<div class="erotica"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/clear.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>

<div class="mc"><div class="items-list-one-pix bgimg">
<a href="#"><img src="img-content/item-list-001.jpg" width="194" height="110" alt=""></a>
<div class="text">
<h2><a href="#">Ню арт съемки для  журнала GQ</a></h2>
<div class="lock"><img src="img/f-lock.gif" width="25" height="18" alt=""></div>
<div class="date">12 июля, 2012г.</div>
<div class="owner"><a href="#">Фотограф, редактор Андрей Разумовский</a></div>
</div>
<div class="clear"></div>
</div></div>






<div class="clear">&nbsp;</div>
</div>