       <!-- content -->
        <section id="content">
          <div class="line1">
            <div class="line2 wrapper">
              <div class="wrapper">
			  <!-- BEGIN col1 -->
                <article class="col1">
                  <!-- BEGIN col1_items -->
				  <h2>{COL1_TITLE}</h2>
                  <div class="pad">
                    {COL1_TEXT}
                  </div>
                  <!-- END col1_items -->
                  </article>
			  <!-- END col1 -->
			  <!-- BEGIN col2 -->
                <article class="col2 pad_left1">
                  <!-- BEGIN col2_items -->
				  <h2>{COL2_TITLE}</h2>
                  <div class="pad">
                    {COL2_TEXT}
                  </div>
                  <!-- END col2_items -->
                </article>
			  <!-- END col2 -->
			  <!-- BEGIN col3 -->
                <article class="col3 pad_left1">
                  <!-- BEGIN col3_items -->
				  <h2>{COL3_TITLE}</h2>
                  <div class="pad">
                    {COL3_TEXT}
                  </div>
                  <!-- END col3_items -->
                </article>
			  <!-- END col3 -->
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="body4">
  <div class="main">
    <section id="content2">
      <div class="line2 wrapper">
        <div class="wrapper">
          <article class="col1">
            <h2>Testimonials</h2>
			<!-- BEGIN tm -->
            <div class="wrapper pad_bot2">
              <div class="pad">
			  <!-- BEGIN tm_img -->
                <figure class="left marg_right1 marg_left1"><img src="{TM_IMG}" alt=""></figure>
			  <!-- END tm_img -->
                <p class="pad_bot1"> <strong>{TM_NAME}</strong><br>
                  <a href="#">{TM_ROLE}</a><br>
                  {TM_COMPANY} </p>
                <p>{TM_DESC}</p>
              </div>
            </div>
			<!-- END tm -->
            <!--<div class="wrapper">
              <div class="pad">
                <figure class="left marg_right1 marg_left1"><img src="/images/page4_img2.jpg" alt=""></figure>
                <p class="pad_bot1"> <strong>William Horner</strong><br>
                  <a href="#">Managing Director</a><br>
                  Company Name </p>
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum. </div>
            </div>-->
          </article>
          <article class="col3 pad_left1">
            <h2>Like My work?</h2>
            <div class="pad">
              <p class="pad_bot1">{LIKE}</p>
              <a href="/contact/"><img src="/images/banner1.jpg" alt=""></a> </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- / content -->