<div class="pages">
 <!-- BEGIN page_first --><a href="{PAGE_URL}page=1">&lt;&lt;</a>&nbsp;<!-- END page_first -->
 <!-- BEGIN page -->
 <!-- BEGIN page_active -->
 <a href="#" class="curr">{PAGE_NUM_TITLE}</a>{SEPARATOR}
 <!-- END page_active -->
 <!-- BEGIN page_active_no -->
 <a href='{PAGE_URL}page={PAGE_NUM_LINK}'>{PAGE_NUM_TITLE}</a>{SEPARATOR}
 <!-- END page_active_no -->
 <!-- END page -->
 <!-- BEGIN page_last -->&nbsp;<a href="{PAGE_URL}page={PAGE_LAST}">&gt;&gt;</a><!-- END page_last --> 
</div>