 <div class="field w50">* Title:</div>
 <div class="field w390"><input class="w380 required" name="form[Title]" value="{Title}" maxlength="32"></div> 
 <div class="field w50">* Code:</div>
 <div class="field w390"><input class="w380 required" name="form[Code]" value="{Code}" maxlength="32"></div>
 <div class="field">Hide:</div>
 <div class="field h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>