 <div class="field w90">Date</div>
 <div class="field w160">*: {Date}</div>
 <div class="field">Hide:</div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>
 <div class="space0"></div>
 <div class="field w90">* Title:</div>
 <div class="field"><input class="w860 required" name="form[Title]" value="{Title}" maxlength="256"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w90">Images</div>
 
 <div class="field w300"><input class="fl w290" type="file" name="Image" size="32"></div>
 
 <!-- BEGIN image_del -->
 <div class="field"><div class="popup_image">{Image1Title}<div><img src="{Image1Src}" {Image1Sizes} alt="свернуть" title="свернуть"><br>{Image1Size}</div></div></div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[ImageDel]"></div>
 <div class="field w60">delete</div>
 <!-- END image_del -->
 <!--<div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[auto_mini_image]"></div>
 <div class="field">mini-copy</div>-->
 <div class="space0"></div>
 <!--<div class="field w90"></div>
 <div class="field w80">small:</div>
 
 <div class="field w300"><input class="fl w290" type="file" name="Image2" size="32"></div>-->
 
 <!-- BEGIN image2_del -->
 <!--<div class="field"><div class="popup_image">{Image2Title}<div><img src="{Image2Src}" {Image2Sizes} alt="свернуть" title="свернуть"><br>{Image2Size}</div></div></div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[Image2Del]"></div>
 <div class="field">delete</div>-->
 <!-- END image2_del -->
 <div class="space0"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w90">* Announce:</div>
 <div class="field"><textarea class="w860 h50 required" name="form[Announce]">{Announce}</textarea></div>
 <div class="space0"></div>
 <div class="field w90">* Text:</div>
 <div class="field"><textarea class="tinymce" tiny_width="868" tiny_height="300" name="form[Text]" id="new_text">{Text}</textarea></div>