 <input type="hidden" name="form[Parent_id]" value="{Parent_id}">
 <!-- BEGIN code -->
 <div class="field w90">* Code:</div>
 <div class="field w670"><input class="w860 required" name="form[Code]" value="{Code}" maxlength="16"></div>
 <div class="space0"></div>
 <!-- END code -->
 <div class="field w90">* Title:</div>
 <div class="field w790"><input class="w770 required" name="form[Title]" value="{Title}" maxlength="64"></div>
 <div class="field">Hide:</div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>
 
 <div class="space0"></div>
 <div class="space5"></div>
 <div class="field w90">Images</div>
 
 <div class="field w300"><input class="fl w290" type="file" name="Image" size="32"></div>
 
 <!-- BEGIN image_del -->
 <div class="field"><div class="popup_image">{Image1Title}<div><img src="{Image1Src}" {Image1Sizes} alt="свернуть" title="свернуть"><br>{Image1Size}</div></div></div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[ImageDel]"></div>
 <div class="field w60">delete</div>
 <!-- END image_del -->
 <div class="space0"></div>
 
 <hr>
  <div class="field w90">Description:</div>
  <div class="field"><textarea class="w860 h50" name="form[Description]">{Description}</textarea></div>
 
 <div class="space0"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w90">* Text:</div>
 <div class="field"><textarea class="tinymce" tiny_width="868" tiny_height="400" name="form[Text]">{Text}</textarea></div>
 <div class="space5"></div> 
 
 <!-------------------------------------------------------------------------------------------------->
 <!-- для закачки фото -->
 <!-------------------------------------------------------------------------------------------------->
 <style>
 .delele_selected_file, .delele_stored_file {color:red; cursor: pointer; cursor: hand;}
 </style>

 <script type="text/javascript">
 function updateFileList()
 {
	$.getJSON('ru/content/file.php?action=list_files&id=' + $('input[name="form[ID]"]').val(), function(data){
		
		//preprint(data);
		
		$('#filelist').html('');
		
		$.each(data, function(i, file){
			var content = '<div class="field" style="white-space: nowrap;"><div class="field h24 hidden delele_stored_file" file_name="' + file.name + '">X</div><div class="field">' + file.name + '&nbsp;&nbsp;&nbsp;</div></div>';
			$(content).appendTo('#filelist');
		});
	});
 }
 
 $('.delele_stored_file').live('click', function()
 {
	var file_name = $(this).attr('file_name');
	
	$('<div id="dialog" title="Delete file">Realy delete file "' + file_name + '"?</div>').appendTo('body');

	$('#dialog').dialog({
		modal: true,
		height: 150,
		width: 400,
		overlay: { backgroundColor:'#000', opacity:0.5 },
		close: function() { $("#dialog").remove(); },
		buttons: {
			'Delete' : function(){
				$(this).dialog('close');
				$('#dialog').remove();
				
				$.getJSON('ru/content/file.php?action=delete_file&id=' + $('input[name="form[ID]"]').val() + '&file_name=' + file_name, function(data){
					updateFileList();
				});
			},
			'Cancel' : function(){
				$(this).dialog('close');
				$('#dialog').remove();			
			}
		}
	});
 });
 
 updateFileList();
 </script>
 <!-------------------------------------------------------------------------------------------------->