 <div class="field w90">* Заголовок:</div>
 <div class="field w420"><input class="w400 required" name="form[Title]" value="{Title}" maxlength="64"></div>
 <!--<div class="field w130">* E-mail for application:</div>
 <div class="field"><input class="w300 required" name="form[Email]" value="{Email}" maxlength="128"></div>
 <div class="space5"></div>
 <hr>-->
 <div class="space5"></div>
 <div class="field w90">* Title eng.:</div>
 <div class="field w420"><input class="w400 required" name="form[Title_eng]" value="{Title_eng}" maxlength="64"></div>
 <div class="space5"></div>
 <hr>
 <!--<div class="space5"></div>
 <div class="field w90">Set of fields:</div>
 <div class="field">Name/nick:</div>
 <div class="field w40 h24 hidden"><input class="ch" type="checkbox" name="form[Field_name]" value="1"{Field_name}></div>
 <div class="field">Site:</div>
 <div class="field w40 h24 hidden"><input class="ch" type="checkbox" name="form[Field_site]" value="1"{Field_site}></div>
 <div class="field">E-mail:</div>
 <div class="field w40 h24 hidden"><input class="ch" type="checkbox" name="form[Field_email]" value="1"{Field_email}></div>
 <div class="field">Text:</div>
 <div class="field w40 h24 hidden"><input class="ch" type="checkbox" name="form[Field_text]" value="1"{Field_text}></div>
 <div class="field">Photo:</div>
 <div class="field w40 h24 hidden"><input class="ch" type="checkbox" name="form[Field_img1]" value="1"{Field_img1}></div>
 <div class="field">Document:</div>
 <div class="field w40 h24 hidden"><input class="ch" type="checkbox" name="form[Field_img2]" value="1"{Field_img2}></div>
 <div class="space5"></div>-->
 <hr>
 <div class="space5"></div>
 <div class="field w90">Текст:</div>
 <div class="field"><textarea class="tinymce" tiny_width="868" tiny_height="200" name="form[Message]">{Message}</textarea></div>
 <div class="space5"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w90">Текст (eng):</div>
 <div class="field"><textarea class="tinymce" tiny_width="868" tiny_height="200" name="form[Message_eng]">{Message_eng}</textarea></div>