<!-- BEGIN head -->
<div class="line">
 <img src="img/folder_open.gif">
 <div class="title black">{TITLE}</div>
 <div class="r_icon" title="" style="background-image:url(img/_none.gif);"></div>
 <div class="r_icon" title="" style="background-image:url(img/_none.gif);"></div>
 <div class="r_icon" title="" style="background-image:url(img/sort.gif);" onclick="{MAIN_SORT_CLICK}"></div>
 <div class="actions">
  <!--<a href="{MAIN_ACT_CLICK}">[ добавить подраздел ]</a>&nbsp;-->
 </div>
</div><!-- END head -->

<!-- BEGIN record -->
<div class="{LINE_CLASS}" count_childs="{COUNT_CHILDS}" code="{CODE}" _id="{ID}">
 <!-- BEGIN lines --><img src="img/line_{LINE_CODE}.gif"><!-- END lines -->
 <!-- BEGIN line_plus --><img src="img/line_plus_{_LINE_CODE}.gif" id="line_{ID}" _id="{ID}" class="plus_minus" onClick="plus_minus_click({COUNT_CHILDS}, this, true, '{CODE}');"><!-- END line_plus -->
 <img src="img/{ICON}.gif" class="file_folder" onClick="{ICON_CLICK}">
 <div class="title" unselectable="On"><a href="{HREF}">{TITLE}</a></div>
 <div class="r_icon" title="{ICON_3_ALT}" style="background-image:url({ICON_3_SRC});" del="Удалить: '{TITLE}'?"></div>
 <div class="r_icon" title="{ICON_2_ALT}" style="background-image:url({ICON_2_SRC});" src="url({ICON_2_SRC2})" alt="{ICON_2_ALT2}"></div>
 <div class="r_icon" title="{ICON_1_ALT}" style="background-image:url({ICON_1_SRC});" onclick="{ICON_1_CLICK}"></div>
 <div class="actions">
  <!-- BEGIN actions --><a href="{ACT_CLICK}">[ {ACT_TITLE} ]</a>&nbsp;<!-- END actions -->
 </div>
</div>
<!-- END record -->