 <div class="field w70">* Title:</div>
 <div class="field w810"><input class="w790 required" name="form[Title]" value="{Title}" maxlength="128"></div>
 <div class="field">Hide:</div>
 <div class="field h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>
 <div class="space5"></div>
 <div class="field w70">* Title eng.:</div>
 <div class="field w810"><input class="w790 required" name="form[Title_eng]" value="{Title_eng}" maxlength="128"></div>