 <div class="field w90">Show in slider:</div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[IsSlide]" value="1"{IsSlide}></div>
 <div class="field w40">Hide:</div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>
 <div class="space0"></div>
 <div class="field w90">Categories:</div>
 <div class="field w370">{Categories}</div>
 <div class="space0"></div>
 <!--<div class="field w90">* Авторы:</div>
 <div class="field">{Authors}</div>
 <div class="space0"></div>-->
 <div class="field w90">* Title:</div>
 <div class="field"><input class="w860 required" name="form[Title]" value="{Title}" maxlength="64"></div>
 <div class="space5"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w90">Images</div>
 
 <div class="field w300"><input class="fl w290" type="file" name="Image" size="32"></div>
 
 <!-- BEGIN image_del -->
 <div class="field"><div class="popup_image">{Image1Title}<div><img src="{Image1Src}" {Image1Sizes} alt="свернуть" title="свернуть"><br>{Image1Size}</div></div></div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[ImageDel]"></div>
 <div class="field w60">delete</div>
 <!-- END image_del -->
 <div class="space0"></div>