<div class="chain">
 {CHAIN}Добавление фотографий
</div>
<!----------------------------------------------------------------------------->
<div class="head">
 <div class="left">
  <h3>{PAGE_TITLE} - добавление фотографий</h3>
  {LAST_UPDATE}<br>
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">вернуться к списку фотографий</a>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div id="error">{ERROR}</div>
<div class="space20"></div>

<div>
 <input type="file" id="add_photos" name="photo" foto="{FOTO}" path="{THIS_PAGE}" key="{KEY}">
 <a href="javascript:$('#add_photos').uploadifyUpload();">Загрузить изображения</a> |
 <a href="javascript:$('#add_photos').uploadifyClearQueue();">Очистить все</a>
</div>