<div class="head">
 <div class="left">
  <h3>Сортировка фотографий альбома: {MAIN_TITLE}</h3>
  <br><div id="test"></div>
  <a href="ru/photos/?page=1&a=edit&id={FOTO_ID}" class="link_back"><img src="img/back.gif">вернуться к фотоальбому<br>без сохранения изменений</a>
 </div>
 <div class="right">
  <div class="help_head" title="скрыть / показать"></div>
  <div class="help_text">Для сортировки объектов достаточно установить<br>на нужную иконку курсор мыши и, зажав левую<br>кнопку мыши, перетащить значок на новое место</div>
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space10"></div>
<div class="main_sort" id="main_sort">
 <!-- BEGIN record -->
 <div id="field_{NUM}" class="field_sort" unselectable="On" style="background:url('{ICON}') 50% 10% no-repeat; height:93px;"><div class="field_num" id="{ID}">{NUM}</div><br><br><br><br>{TITLE}</div>
 <!-- END record -->
 <!-- BEGIN record_empty -->
 <div id="field_{NUM}" class="field_sort_empty" unselectable="On" style="height:93px;"></div>
 <!-- END record_empty -->
</div>
<div class="space10"></div>
<!----------------------------------------------------------------------------->
<div class="head">
 <div class="left">
  <a href="ru/photos/?page=1&a=edit&id={FOTO_ID}" class="link_back"><img src="img/back.gif">вернуться к фотоальбому<br>без сохранения изменений</a>
 </div>
 <div class="right">
  <input type="button" name="Сохранить" value="Сохранить" class="btnsave">
 </div>
</div>

<div id="foto_sort" style="display:none;"></div>