<div class="chain">
 
 <a href="ru/content/">nuart</a>&nbsp;&gt;&nbsp;<a href="ru/photos/">Photos</a>&nbsp;&gt;&nbsp;<a href="ru/photos/?a=edit&id={FOTO_ID}">{PAGE_TITLE}</a>&nbsp;&gt;&nbsp;список фотографий
</div>
<!----------------------------------------------------------------------------->
<div class="head">
 <div class="left">
  <h3>{PAGE_TITLE} - список фотографий</h3>
  {LAST_UPDATE}<br>
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">вернуться к списку страниц сайта</a>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->

<div class="space20"></div>
<!-- BEGIN foto -->
<div class="main_foto" id="main_foto">
 <!--<div id="field_{NUM}" class="foto" unselectable="On">
  <div class="foto_title"><b><a href="{ADD_HREF}">Добавить<br>1 фото</a></b><br><br><b><a href="{ADD_FEW_HREF}">Добавить<br>несколько фото</a></b><br><br><b><a href="{SORT_HREF}">Сортировать<br>фото</a></b></div>
 </div>-->
 <!-- BEGIN record -->
 <div id="field_{NUM}" class="foto" unselectable="On">
  <!--<div class="foto_num" id="{ID}">{NUM}</div>-->
  <img src="{SRC}" height="80">
  <div class="foto_title">{TITLE}</div>
  <a href="{HREF}">[редактировать]</a><br>
  <div class="icons" _id="{FOTO_ID}">
   <div class="icon" title="{ICON_2_ALT}" style="background-image:url({ICON_2_SRC});" src="url({ICON_2_SRC2})" alt="{ICON_2_ALT2}"></div>
   <div class="icon" title="{ICON_3_ALT}" style="background-image:url({ICON_3_SRC});" del="Действительно удалить фотографию?<br><br><img src='{SRC}'><br>{TITLE}"></div>
  </div>
 </div>
 <!-- END record -->
 <!-- BEGIN record_empty -->
 <div id="field_{NUM}" class="foto_empty" unselectable="On"></div>
 <!-- END record_empty -->
</div>
<div class="space20"></div>
<!-- END foto -->
<!----------------------------------------------------------------------------->
<div class="head">
 <div class="left">
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">вернуться к списку страниц сайта</a>
 </div>
 <div class="right"></div>
</div>