<div class="chain">
 <a href="ru/content/">nuart</a>&nbsp;&gt;&nbsp;<a href="ru/photos/">Photos</a>&nbsp;&gt;&nbsp;<a href="ru/photos/?a=edit&id={Photos_id}">{PAGE_TITLE}</a>&nbsp;&gt;&nbsp;<a href="ru/foto/?foto={Photos_id}">список фотографий</a>&nbsp;&gt;&nbsp;{TitleRus} ({TitleOriginal})
</div>
<!----------------------------------------------------------------------------->
<div class="head">
 <div class="left">
  <h3>{HEAD_TITLE}</h3>
  {LAST_UPDATE}
  <div id="error">{ERROR}</div> 
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space20"></div>
<form action="{THIS_PAGE}?foto={FOTO}" method="POST" enctype="multipart/form-data" class="edit_form">
 <input type="hidden" name="a" value="{ACTION}_proc">
 <input type="hidden" name="form[ID]" value="{ID}">
 <input type="hidden" name="form[Photos_id]" value="{Photos_id}">
 <input type="hidden" name="form[OrderBy]" value="{OrderBy}">
 <input type="hidden" name="form[Last_update_user]" value="{LAST_UPDATE_USER_ID}">
 <input type="hidden" name="form[Last_update_date]" value="{LAST_UPDATE_DATE}">
 <input type="hidden" name="form[Last_update_ip]" value="{LAST_UPDATE_IP}">
 
 <table width="100%">
 <tr>
 <td valign="top">
 <div class="field w90">* Rus title:</div>
 <div class="field w570"><input class="w550 required" name="form[TitleRus]" value="{TitleRus}" maxlength="256"></div>
 <div class="field">Скрыть:</div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>
 <div class="space0"></div>
 <div class="field w90">* Original title:</div>
 <div class="field w570"><input class="w550 required" name="form[TitleOriginal]" value="{TitleOriginal}" maxlength="256"></div>
 </td>
 <td valign="top" align="right">
 <img src="{PHOTO_IMG}" alt="" width="200">
 </td>
 </tr>
 </table>
 
 
 <div class="space20"></div>
 <!----------------------------------------------------------------------------->
 <div class="head">
  <div class="left">
   <a href="{BACK_HREF}" class="link_back"><img src="img/back.gif">вернуться к списку фотографий<br>без сохранения изменений</a>
  </div>
  <div class="right">
   <input type="button" value="Сохранить" title="Сохранить" class="btnsave">
  </div>
 </div>
</form>