<!-- home promo -->


<div class="{MAIN_RECORD_CLASS}" id="main_class"><div class="promo-line{CLASS_IS_HOME} {CLASS_IS_HOME2}bg">

<div class="promo-img"><a href="{MAIN_RECORD_LINK}"><img id="main_img" src="{MAIN_RECORD_IMG}" width="640" height="360" alt="{MAIN_RECORD_TITLE}"></a></div>
<div class="promo-text{CLASS_IS_HOME}">
<div class="h-section"><a href="{MAIN_RECORD_LINK}" id="main_section">{MAIN_RECORD_SECTION}</a></div>
<h2><a href="{MAIN_RECORD_LINK}" id="main_title">{MAIN_RECORD_TITLE}</a></h2>
<div class="h-author"><a href="{MAIN_RECORD_LINK}" id="main_info1">{MAIN_RECORD_PEOPLES}</a></div>

<div class="promo-scroll{CLASS_IS_HOME}"><a href="javascript:viewMainRecord('prev');"><img id="img_scroll_left" src="img/f-promo-scrollall-left.png" width="16" height="44" alt=""></a><div class="promo-scroll-line" id="main_records_nums" current_num="0" all_nums="{MAIN_RECORDS_ALL_NUM}">
<!-- BEGIN main_record_1 --><div class="{MAIN_RECORD_CLASS_ACT}" id="main_record_class_{MAIN_RECORD_NUM_1}" onclick="viewMainRecord({MAIN_RECORD_NUM_1});" style="cursor: pointer;">{MAIN_RECORD_NUM_2}</div><!-- END main_record_1 -->
</div><a href="javascript:viewMainRecord('next');"><img id="img_scroll_right" src="img/f-promo-scrollall-right-act.png" width="16" height="44" alt=""></a></div>
</div>
<div class="clear"></div>
</div></div>

<script type="text/javascript">
 function viewMainRecord(num)
 {
    var cur_num = $('#main_records_nums').attr('current_num');
    var all_nums = parseInt($('#main_records_nums').attr('all_nums'));
    
    if (num == 'prev')
    {
        num = parseInt(cur_num) - 1;
        if (num == -1) num = 0;
    }
    else if (num == 'next')
    {
        num = parseInt(cur_num) + 1;
        if (num == all_nums) num = all_nums - 1;
    }
 
    
    if (num == 0)
    {
        $('#img_scroll_left').attr('src', 'img/f-promo-scrollall-left.png');
        $('#img_scroll_right').attr('src', 'img/f-promo-scrollall-right-act.png');
    }
    else if (num == (all_nums - 1))
    {
        $('#img_scroll_left').attr('src', 'img/f-promo-scrollall-left-act.png');
        $('#img_scroll_right').attr('src', 'img/f-promo-scrollall-right.png');
    }
    else
    {
        $('#img_scroll_left').attr('src', 'img/f-promo-scrollall-left-act.png');
        $('#img_scroll_right').attr('src', 'img/f-promo-scrollall-right-act.png');
    }
    
    var links = [];
    var classes = [];
    var titles = [];
    var sections = [];
    var images = [];
    var info1 = [];
    <!-- BEGIN main_record_2 -->
    links.push('{MAIN_LINK}');
    classes.push('{MAIN_CLASS}');
    titles.push('{MAIN_TITLE}');
    sections.push('{MAIN_SECTION}');
    images.push('{MAIN_IMG}');
    info1.push('{MAIN_INFO1}');
    <!-- END main_record_2 -->
    
    $('#main_class').attr('class', classes[num]);
    $('#main_title').html(titles[num]).attr('href', links[num]);
    $('#main_img').attr('src', images[num]).parent('a').attr('href', links[num]);
    $('#main_section').html(sections[num]).attr('href', links[num]);
    $('#main_info1').html(info1[num]).attr('href', links[num]);
    
    $('#main_record_class_' + num).removeClass('promo-scroll-f-inact').addClass('promo-scroll-f-act').siblings('div').removeClass('promo-scroll-f-act').addClass('promo-scroll-f-inact');
    
    $('#main_records_nums').attr('current_num', num);
 }

</script>


<!-- items list -->
<div class="content-bg">
<div class="{MAIN_LINE_RECORD_CLASS}" id="main-line-record-class"><div class="items-list-type-line"><a href="{LINK_BLOCK}"{CLASS_BLOCK}><img src="img/ico-list-pix.gif" width="19" height="19" alt=""></a><a href="{LINK_LIST}"{CLASS_LIST}><img src="img/ico-list-list.gif" width="19" height="19" alt=""></a></div></div>

<!-- BEGIN record_block -->
<div class="{RECORD_CLASS} record_ajax"><div class="items-list-one-pix bgimg">
<a href="{RECORD_LINK}"><img src="{RECORD_IMG_SMALL}" width="194" height="110" alt="{RECORD_TITLE}"></a>
<div class="text">
<h2><a href="{RECORD_LINK}">{RECORD_TITLE}</a></h2>
<div class="lock"><img src="img/{RECORD_LOCK}.gif" width="25" height="18" alt=""></div>
<div class="date">{RECORD_DATE}</div>
<div class="owner">{RECORD_PEOPLES}</div>
</div>
<div class="clear"></div>
</div></div>
<!-- END record_block -->

<!-- BEGIN record_list -->
<div class="{RECORD_CLASS} record_ajax"><div class="blog-block"><div class="promo-line content-bg">
<div class="promo-img"><div class="promo-zoom"><a href="#"><img src="img/ico-zoom.gif" width="84" height="25" alt="увеличить"></a></div><a href="{RECORD_LINK}"><img src="{RECORD_IMG_BIG}" width="640" height="360" alt=""></a></div>
<div class="promo-text">
<div class="h-section" style="margin-bottom:10px;"><a href="{RECORD_SECTION_LINK}">{RECORD_SECTION_TITLE}</a></div>
<img src="img/{RECORD_LOCK}.gif" width="25" height="18" alt="" style="margin: 0px;">
<h2 style="margin-top:10px;"><a href="{RECORD_LINK}">{RECORD_TITLE}</a></h2>
<div class="h-section-auth">{RECORD_DATE}<br><br>{RECORD_PEOPLES}</div>
<br>{RECORD_DESCRIPTION}
</div>
<div class="clear"></div>
</div></div></div>
<!-- END record_list -->

<div class="clear">&nbsp;</div>
</div>


<script type="text/javascript">

jQuery(window).bind('scrollstop', function()
{
    var scroll_top = $(document).scrollTop();//высота прокрученной области
    var page_height = $(document).height();//высота всей страницы
    var wind_height = $(window).height();//высота окна браузера
    
    //alert(wind_height);
    //если непрокрученной области больше чем высота окна обраузера, то подгружаем след. объекты
    if(page_height < scroll_top + wind_height + 100/* && slide_func_next_page == 1+slide_func_last_page*/)
    {
        //alert(page_height + ' | ' + scroll_top + ' | ' + wind_height);
        ajax_get_objects({SECTION_ID});
    }
});

</script>