<!-- <div class="field w90">* Дата:</div>
 <div class="field w90">{Date}</div>-->
 <div class="field w90">* Тип:</div>
 <div class="field w190">{Sections}</div>
 <div class="field w50">* Стиль:</div>
 <div class="field w180">{Styles}</div>
 <div class="field">Скрыть:</div>
 <div class="field h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>
 <div class="space5"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w140">* Русское название:</div>
 <div class="field"><input class="w810 required" name="form[TitleRus]" value="{TitleRus}" maxlength="256"></div>
 <div class="space0"></div>
 <div class="field w140">Английское название:</div>
 <div class="field"><input class="w810" name="form[TitleOriginal]" value="{TitleOriginal}" maxlength="256"></div>
 <div class="space5"></div>
 <div class="space5"></div>
 <div class="field w190">Изображение (228х160):</div>
 
 <div class="field w300"><input class="fl w290" type="file" name="Image" size="32"></div>
 
 <!-- BEGIN image_del -->
 <div class="field"><div class="popup_image">{Image1Title}<div><img src="{Image1Src}" {Image1Sizes} alt="свернуть" title="свернуть"><br>{Image1Size}</div></div></div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[ImageDel]"></div>
 <div class="field w60">удалить</div>
 <!-- END image_del -->

 <div class="space5"></div>
 <hr>
 <div class="photo">
 <div class="space0"></div>
 <div class="field w190">Изображение для мозаики:</div>
 
 <div class="field w300"><input class="fl w290" type="file" name="Image_moz1" size="32"></div>
  <!-- BEGIN image2_del -->
 <div class="field"><div class="popup_image">{Image2Title}<div><img src="{Image2Src}" {Image2Sizes} alt="свернуть" title="свернуть"><br>{Image2Size}</div></div></div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[ImageDel2]"></div>
 <div class="field w60">удалить</div>
 <!-- END image2_del -->
 <div class="space5"></div>
 <div class="field w190"></div><div class="field w300"><input class="fl w290" type="file" name="Image_moz2" size="32"></div>
  <!-- BEGIN image3_del -->
 <div class="field"><div class="popup_image">{Image3Title}<div><img src="{Image3Src}" {Image3Sizes} alt="свернуть" title="свернуть"><br>{Image3Size}</div></div></div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[ImageDel3]"></div>
 <div class="field w60">удалить</div>
 <!-- END image3_del -->
 <div class="space5"></div>
 <div class="field w190"></div><div class="field w300"><input class="fl w290" type="file" name="Image_moz3" size="32"></div>
  <!-- BEGIN image4_del -->
 <div class="field"><div class="popup_image">{Image4Title}<div><img src="{Image4Src}" {Image4Sizes} alt="свернуть" title="свернуть"><br>{Image4Size}</div></div></div>
 <div class="field w20 h24 hidden"><input class="ch" type="checkbox" name="form[ImageDel4]"></div>
 <div class="field w60">удалить</div>
 <!-- END image4_del -->
 
 </div>
<!--<div class="field w90"><a href="#"  num="{PHOTOS_NUM}">Добавить</a></div>-->
 <div class="space5"></div>
 <hr>
 <div class="space5"></div>
 <div class="field w60"><a href="{PHOTOS_LINK}">Фотографии:</a></div>
 <div id="filelist" class="field w890">
 
 </div>
 <div class="space5"></div>
 Перетащите изображения в серую область:
 <div id="file-container" style="border:1px solid #999;min-height:50px;background:#cfd2d4; text-align:center;"></div>
 <div class="space5"></div>
 <input type="button" value="Upload files" id="upload_files" style="padding-left:10px; padding-right:10px;" folder="ru/photos"> 
 <input type = "file" name = "my_file_up" id="my_file_up">
 <div class="space0"></div>
 <div class="space0"></div>
 <hr>
 <div class="space5"></div>
 
 <style>
 .delele_selected_file, .delele_stored_file {color:red; cursor: pointer; cursor: hand;}
 </style>

 <script type="text/javascript">
  $('#add_photo').click(function()
 {
    var num = $(this).attr('num');
    var text = $(this).prev('div.photo').html();
	$(this).before('<div class="photo">' + text + '</div>');
    $(this).prev('div.photo').find('input').attr('name', 'peoples[' + num + ']').val('');
    $(this).prev('div.photo').find('input.w30').attr('name', 'peoples_id[' + num + ']').val('');
   // $(this).prev('div.photo').find('input.w210').attr('name', 'peoples[' + num + ']').val('');
    $(this).prev('div.photo').find('input.w190').attr('name', 'peoples_jobs[' + num + ']').val('');
    $(this).prev('div.photo').find('input.w90').attr('name', 'peoples_phones[' + num + ']').val('');
    $(this).prev('div.photo').find('input.w120').attr('name', 'peoples_emails[' + num + ']').val('');
   // $(this).prev('div.photo').find('select').attr('name', 'peoples_jobs[' + num + ']').val(0);
    field_autocomplete($(this).prev('div.photo').find('input[table=ru_peoples]'));
    field_autocomplete($(this).prev('div.photo').find('input[table=ru_jobs]'));
    $(this).attr('num', parseInt($(this).attr('num')) + 1);
 });
 
 function updateFileList()
 {
	$.getJSON('ru/photos/file.php?action=list_files&id=' + $('input[name="form[ID]"]').val(), function(data){
		
		//preprint(data);
		
		$('#filelist').html('');
		
		$.each(data, function(i, file){
			var content = '<div class="field" style="white-space: nowrap;"><div class="field h24 hidden delele_stored_file" file_name="' + file.name + '">X</div><div class="field">' + file.name + '&nbsp;&nbsp;&nbsp;</div></div>';
			$(content).appendTo('#filelist');
		});
	});
 }
 
 $('.delele_stored_file').live('click', function()
 {
	var file_name = $(this).attr('file_name');
	
	$('<div id="dialog" title="Удаление файла">Вы действительно хотите удалить файл "' + file_name + '"?</div>').appendTo('body');

	$('#dialog').dialog({
		modal: true,
		height: 150,
		width: 400,
		overlay: { backgroundColor:'#000', opacity:0.5 },
		close: function() { $("#dialog").remove(); },
		buttons: {
			'Удалить' : function(){
				$(this).dialog('close');
				$('#dialog').remove();
				
				$.getJSON('ru/photos/file.php?action=delete_file&id=' + $('input[name="form[ID]"]').val() + '&file_name=' + file_name, function(data){
					updateFileList();
				});
			},
			'Отмена' : function(){
				$(this).dialog('close');
				$('#dialog').remove();			
			}
		}
	});
 });
 
 updateFileList();
 </script>