 <div class="field w70">* Название:</div>
 <div class="field w810"><input class="w790 required" name="form[Title]" value="{Title}" maxlength="256"></div>
 <div class="field">Скрыть:</div>
 <div class="field h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>