 <div class="field w120">Показывать</div>
 <div class="field w760">* с: {Date}&nbsp;&nbsp;&nbsp;по: {Date_end}</div>
 <div class="field">Скрыть:</div>
 <div class="field h24 hidden"><input class="ch" type="checkbox" name="form[Hide]" value="1"{Hide}></div>
 <div class="space0"></div>
 <div class="field w120">* Вопрос:</div>
 <div class="field"><input class="w830 required" name="form[Title]" value="{Title}" maxlength="64"></div>
 <div class="space0"></div>
 <div class="field w120">* Варианты ответов:</div>
 <div id="answers" next_num='{ANSWER_NEXT_NUM}'>
  <!-- BEGIN answers -->
  <div class="hide">* Варианты ответов:</div>
  <div class="field w750"><input class="w720" name="answers_title[{ANSWER_NUM}]" value="{ANSWER_TITLE}" maxlength="64"></div>
  <div class="field w30">{ANSWER_COUNT}<input type="hidden" name="answers_count[{ANSWER_NUM}]" value="{ANSWER_COUNT}"></div>
  <div class="field">{ANSWER_COUNT_TITLE}</div>
  <div class="space0"></div>
  <div class="field w120"></div>
  <!-- END answers -->
 </div>
 <a class="add_answer">добавить &gt;</a>