<div class="head">
 <div class="left">
  <h3>Редактирование ссылок-действий раздела "{PAGE_TITLE}"</h3>
  <div id="error">{ERROR}</div>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space20"></div>
<form action="{THIS_PAGE}" method="POST" class="edit_form">
 <input type="hidden" name="a" value="edit_proc">
 <!-- BEGIN link-actions -->
 <div class="field">№:</div>
 <div class="field w40"><input class="w20" name="OrderBy[{NUM}]" value="{OrderBy}" maxlength="5"></div>
 <div class="field w60">Название:</div>
 <div class="field w300"><input class="w280" name="Title[{NUM}]" value="{Title}" maxlength="64"></div>
 <div class="field w60">Страница:</div>
 <div class="field w410">
  <select class="w400" name="Page_id[{NUM}]">
   <option value="0"></option>
   <!-- BEGIN group_pages -->
   <optgroup label="{GROUP_PAGES_TITLE}">
    <!-- BEGIN pages -->
    <option value="{pages_ID}"{pages_Active}>{pages_Title}</option>
    <!-- END pages -->
   </optgroup>
   <!-- END group_pages -->
  </select>
 </div>
 <div class="field">Скрыть:</div>
 <div class="field h24 hidden"><input class="ch" type="checkbox" name="Hide[{NUM}]" value="1"{Hide}></div>
 <div class="space10"></div>
 <!-- END link-actions -->
 
 <div class="space20"></div>
 <!----------------------------------------------------------------------------->
 <div class="head">
  <div class="left">
   <a href="{BACK_HREF}" class="link_back"><img src="img/back.gif">вернуться к списку страниц<br>без сохранения изменений</a>
  </div>
  <div class="right">
   <input type="button" value="Сохранить" title="Сохранить" class="btnsave">
  </div>
 </div>
</form>