<!-- BEGIN head -->
<div class="line">
 <img src="img/folder_open.gif">
 <div class="title black">{TITLE}</div>
 <div class="actions">
  <!--<a href="javascript:getEditPage(1, 'content', 'add');">[добавить подраздел]</a>&nbsp;-->
 </div>
</div><!-- END head -->

<!-- BEGIN record -->
<div class="{LINE_CLASS}">
 <!-- BEGIN lines --><img src="img/line_{LINE_CODE}.gif"><!-- END lines -->
 <!-- BEGIN line_plus --><img src="img/line_plus_{LINE_CODE}.gif" id="line_{ID}" onClick="plus_minus_click({COUNT_CHILDS}, this);"><!-- END line_plus -->
 <img src="img/{ICON}.gif" onClick="{ICON_CLICK}">
 <div class="title" unselectable="On"><a href="{HREF}">{TITLE}</a></div>
 <div class="actions">
  <!-- BEGIN actions --><a href="{ACT_CLICK}">[ {ACT_TITLE} ]</a>&nbsp;<!-- END actions -->
 </div>
</div>
<!-- END record -->