<div class="head">
 <div class="left">
  <h3>Список настроек ({COUNT_RECORDS})</h3><br>
  <!--<div id="error">{ERROR}</div>-->
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">вернуться к списку администрирования</a>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space10"></div>
<!-- BEGIN search_form -->
<form action="{THIS_PAGE}" method="GET" class="search">
 <div>Поиск:</div>
 <div><input class="w310" name="form[Title]" value="{Title}"></div>
 <div>Код:</div>
 <div><input class="w150" name="form[Code]" value="{Code}"></div>
 <div>Язык:</div>
 <div>
  <select class="w50" name="form[Lang]">
   <option value=""></option>
   <!-- BEGIN lang -->
   <option value="{LANG}"{LANG_ACTIVE}>{LANG}</option><!-- END lang -->
  </select>
 </div>
 <div><input type="button" value="Искать" title="Искать" class="btnsearch"></div>
</form>
<div class="space20"></div>
<!-- END search_form -->

<a href="{ADD_HREF}" class="add">Добавить настройку</a>
<div class="space10"></div>

<!-- BEGIN record -->
<div class="line">
 <div class="title" unselectable="On"><a href="{HREF}">{TITLE}</a></div>
 <div class="r_icon" title="{ICON_3_ALT}" style="background-image:url({ICON_3_SRC});" del="Удалить настройку: '{TITLE}'?"></div>
 <div class="title2 adm_opt_value" unselectable="On">{VALUE}</div>
 <div class="title2 adm_opt_lang" unselectable="On">{_LANG}</div>
</div>
<!-- END record -->
<div class="space10"></div>

{PAGES}

<div class="head">
 <div class="left">
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">вернуться к списку администрирования</a>
 </div>
 <div class="right"></div>
</div>