 <div class="field w70">* Название:</div>
 <div class="field w780"><input class="w760 required" name="form[Title]" value="{Title}"></div>
 <div class="field w50">Язык:</div>
 <div class="field">
  <select class="w50" name="form[Lang]">
   <option value=""></option>
   <!-- BEGIN lang -->
   <option value="{LANG}"{LANG_ACTIVE}>{LANG}</option>
   <!-- END lang -->
  </select>
 </div>
 <div class="space0"></div>
 <div class="field w70">* Код:</div>
 <div class="field w600"><input class="w580 required" name="form[Code]" value="{Code}"></div>
 <div class="field w40">* Тип:</div>
 <div class="field w132">
  <select class="w120" name="form[Type]">
   <option value="1"{int}>число</option>
   <option value="2"{string}>строка</option>
   <option value="3"{bool}>булево поле</option>
   <option value="4"{text}>текст</option>
   <option value="5"{file}>файл</option>
  </select>
 </div>
 <div class="field w50">Длина:</div>
 <div class="field"><input class="w42" name="form[Length]" value="{Length}"></div>
 <div class="space0"></div>
 <div class="field w70">Значение:</div>
 <div class="field"><textarea class="w880 h100" name="form[Value]">{Value}</textarea></div>