 <div class="field w150">* Название:</div>
 <div class="field w440"><input class="w420 required" name="form[Title]" value="{Title}" maxlength="32"></div>
 <div class="field w40">* Код:</div>
 <div class="field"><input class="w320 required" name="form[Code]" value="{Code}" maxlength="32"></div>
 <div class="space0"></div>
 <div class="field w150">* Родительский элемент:</div>
 <div class="field w440">{Parents}</div>
 <div class="field w110">* Порядок вывода:</div>
 <div class="field"><input class="w250 required" name="form[OrderBy]" value="{OrderBy}" maxlength="5"></div>