<div class="head">
 <div class="left">
  <h3>Страницы админки [{MAIN_TITLE}] ({COUNT_RECORDS})</h3><br>
  <!--<div id="error">{ERROR}</div>-->
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">вернуться к списку администрирования</a>
 </div>
 <div class="right">
  <!-- BEGIN actions --><a href="{ACT_HREF}">{ACT_TITLE}</a><br><!-- END actions -->
 </div>
</div>
<!----------------------------------------------------------------------------->
<div class="space10"></div>
<!-- BEGIN search_form -->
<form action="{THIS_PAGE}" method="GET" class="search">
 <div><input type="hidden" name="lang" value="{LANG}"></div>
 <div>Поиск страницы:</div>
 <div><input class="w320" name="form[Title]" value="{Title}" maxlength="32"></div>
 <div>Код:</div>
 <div><input class="w180" name="form[Code]" value="{Code}" maxlength="32"></div>
 <div><input type="button" value="Искать" title="Искать" class="btnsearch"></div>
</form>
<div class="space20"></div>
<!-- END search_form -->

<a href="{ADD_HREF}" class="add">Добавить страницу</a>
<div class="space10"></div>

<!-- BEGIN record -->
<div class="line">
 <div class="title" unselectable="On"><a href="{HREF}">{TITLE}</a></div>
 <div class="r_icon" title="{ICON_3_ALT}" style="background-image:url({ICON_3_SRC});" del="Удалить страницу: '{TITLE}'?"></div>
 <div class="title2 adm_pages_type" unselectable="On">{TYPE}</div>
 <div class="title2" unselectable="On">{CODE_}</div>
</div>
<!-- END record -->
<div class="space10"></div>

{PAGES}

<div class="head">
 <div class="left">
  <a href="{BACK_HREF}" class="link_back"><img src="img/back2.gif">вернуться к списку администрирования</a>
 </div>
 <div class="right"></div>
</div>