 <input type="hidden" name="lang" value="{LANG}">
 <input type="hidden" name="form[Lang]" value="{LANG}">
 
 <div class="field w70">* Название:</div>
 <div class="field w780"><input class="w760 required" name="form[Title]" value="{Title}" maxlength="64"></div>
 <div class="field w40">* Тип:</div>
 <div class="field">
  <select class="w68 required" name="form[Type]">
   <option value="add"{ADD_CHECKED}>add</option>
   <option value="edit"{EDIT_CHECKED}>edit</option>
   <option value="list"{LIST_CHECKED}>list</option>
  </select>
 </div>
 <div class="space0"></div>
 <div class="field w70">* Код:</div>
 <div class="field w310"><input class="w290 required" name="form[Code]" value="{Code}" maxlength="32"></div>
 <div class="field w150">* Путь от корня админки:</div>
 <div class="field"><input class="w420 required" name="form[Href]" value="{Href}" maxlength="128"></div>